<div class="selected-programs-container">
  <vet-admission-selected-programs
    (deleteClick)="onDeleteClick($event)"
    [selectedProgramsError]="$any(selectedPrograms.error())"
    [selectedProgramsLoading]="selectedPrograms.isLoading()"
    [selectedPrograms]="selectedPrograms.value()"
    isEditMode
  />

  <div class="k-display-flex k-justify-content-between buttons-container">
    <button (click)="onPreviousClick()" kendoButton themeColor="secondary" type="button">
      {{ 'auth.back' | transloco }}
    </button>

    <button (click)="onNextClick()" kendoButton themeColor="primary" type="button">
      {{ 'auth.next' | transloco }}
    </button>
  </div>
</div>
