<div class="selected-programs-container">
  <vet-admission-selected-programs
    (deleteClick)="onDeleteClick($event)"
    [selectedProgramsError]="!!this.selectedPrograms.error()"
    [selectedProgramsLoading]="selectedPrograms.isLoading()"
    [selectedPrograms]="selectedPrograms.value()"
    [readonly]="isViewMode()"
    isEditMode
  />

  <div class="k-display-flex k-justify-content-between buttons-container">
    <vet-button
      (click)="onPreviousClick()"
      variant="tertiary"
      version="fat"
      type="button"
      [title]="'auth.back' | transloco"
    >
      {{ 'auth.back' | transloco }}
    </vet-button>

    <vet-button (click)="onNextClick()" version="fat" type="button" [title]="'auth.next' | transloco">
      {{ 'auth.next' | transloco }}
    </vet-button>
  </div>
</div>
