@use '@vet/shared-styles' as shared;

:host {
  display: block;
}

.vet-short-page {
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  background-color: shared.$white;
}

.vet-short-page-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.25rem 1.25rem 2.5rem;
}
