@let _program = program.value();

@if (_program) {
  <vet-program-page
    [showGallery]="showGallery()"
    [program]="_program"
    [details]="details()"
    [sections]="sections()"
  >
    <ng-container admissions>
      <vet-short-program-admissions [admissions]="activeAdmissions()" />
    </ng-container>

    <ng-container contact-footer>
        <div class="vet-responsible-person-contact">
          <kendo-svg-icon class="vet-contact-item-icon" [icon]="vetIcons.personMini" />
          <div>
            <span>{{ 'shorts.responsible_person_phone' | transloco }}:</span>
            <a [href]="'tel:' + _program?.responsible_person_phone" target="_blank" class="k-text-base k-color-body">
              {{ _program?.responsible_person_phone ?? 'N/A' }}
            </a>
          </div>
        </div>
    </ng-container>
  </vet-program-page>
}
