@let _item = item();
@let _parentPage = parentPage();

<a
  [routerLink]="['/article', _item.id]"
  [state]="{ parentPageSlug: _parentPage.slug, parentPageTitle: _parentPage.title }"
>
  <article class="vet-collection-item">
    <div class="vet-collection-item-image-container">
      @if (_item.image) {
        <img [ngSrc]="_item.image | vetUploadedFileUri" [attr.alt]="_item.slug" width="373" height="98" />
      }
    </div>

    <div class="vet-collection-item-body">
      <span class="vet-collection-item-created-at">{{ _item.created_at | date: 'short' }}</span>
      <h2 class="vet-collection-item-title">{{ _item.title }}</h2>
      <p class="vet-collection-item-content">
        <vet-page-content
          [content]="(_item.content | slice: 0 : 130) + ((_item.content?.length || 0) > 130 ? '...' : '')"
        />
      </p>
    </div>
  </article>
</a>
