:host {
  display: block;
  width: 100%;
  min-height: 4rem;
}

.k-breadcrumb-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

kendo-breadcrumb {
  width: 100%;
}
