:host {
  display: block;
}

.k-breadcrumb-item {
  display: block;
  // max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.k-breadcrumb-item {
  padding-left: 8px;
  cursor: default;
}
