<kendo-dialog 
  [width]="650"
  [maxHeight]="700"
  [title]="'programs.add_commission_member' | transloco" 
  (close)="handleCloseWithWarning()"
>
  @if (commissionMemberForm; as form) {
    <form [formGroup]="form">
      <div class="k-display-flex k-flex-column k-gap-5">
        <div class="k-display-flex k-gap-4.5 k-flex-1">
          <kendo-label>
            <vet-input
              formControlName="pid"
              version="fat"
              [placeholder]="'programs.id_passport_number' | transloco"
            />
            @if (form.controls['pid']; as control) {
              @if (control.touched) {
                @if (control.errors?.['required']) {
                  <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                }
              }
            }
          </kendo-label>

          <kendo-label>
            <vet-input formControlName="name" version="fat" [placeholder]="'programs.last_name' | transloco" />
            @if (form.controls['name']; as control) {
              @if (control.touched || control.value) {
                @if (control.errors?.['required']) {
                  <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                }
                @if (control.errors?.['georgianLettersError']) {
                  <kendo-formerror>{{ 'shared.invalidGeorgianLetters' | transloco }}</kendo-formerror>
                }
              }
            }
          </kendo-label>
        </div>

        <div class="k-display-flex k-align-self-end">
          <vet-button variant="primary" mode="flat" (click)="checkCommissionMember()">
            {{ 'programs.check' | transloco }}
          </vet-button>
        </div>

        @if (isCommissionMemberValid()) {
          <div class="k-display-flex k-flex-column k-gap-4.5">
            <div class="k-display-flex k-gap-4.5 k-flex-1">
              <vet-input
                formControlName="first_name"
                version="fat"
                [placeholder]="'programs.first_name' | transloco"
              />

              <vet-input formControlName="phone" version="fat" [placeholder]="'programs.phone' | transloco" />
            </div>

            <div class="k-display-flex k-gap-4.5 k-flex-1">
              <vet-input
                formControlName="program_name"
                version="fat"
                [placeholder]="'programs.program_code_name' | transloco"
              />
            </div>
          </div>

          <div class="k-display-flex k-align-self-end">
            <vet-button variant="primary" mode="flat" (click)="addCommissionMember()">
              {{ 'programs.add' | transloco }}
            </vet-button>
          </div>
        }

        @if (temporaryErrorMessage()) {
          <div
            @fadeInOut
            class="k-text-error k-display-flex k-align-items-center error-message k-justify-content-center k-text-center"
          >
            {{ temporaryErrorMessage() }}
          </div>
        }

        <kendo-grid [data]="updatedCommissionMembers()">
          <ng-template kendoGridNoRecordsTemplate>
            {{ 'programs.no_commission_members' | transloco }}
          </ng-template>

          <kendo-grid-column [title]="'programs.commission_members' | transloco">
            <ng-template kendoGridCellTemplate let-item>
              <div class="k-display-flex k-gap-1">
                <p>{{ item.firstName }}</p>
                <p>{{ item.lastName }}</p>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column [title]="'programs.other' | transloco" [width]="65">
            <ng-template kendoGridCellTemplate let-item>
              <div class="k-display-flex k-justify-content-center">
                <button kendoButton fillMode="flat" (click)="removeCommissionMember(item)">
                  <kendo-svg-icon [size]="'large'" [icon]="vetIcons.minusCircleRed" themeColor="warning" />
                </button>
              </div>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>

        <vet-info variant="warning">
          {{ 'programs.commission_add_warning' | transloco }}
        </vet-info>

        <div class="k-display-flex k-align-self-end">
          <vet-button variant="primary" mode="flat" (click)="saveChanges()">
            {{ 'programs.save' | transloco }}
          </vet-button>
        </div>
      </div>
    </form>
  }
</kendo-dialog>
