@if (form(); as form) {
  <div class="k-w-full">
    <form [formGroup]="form">
      <div class="container">
        <div class="top-section">
          <kendo-formfield>
            <kendo-floatinglabel [text]="'განათლება'">
              <kendo-dropdownlist
                [data]="educations$ | async"
                textField="value"
                valueField="id"
                formControlName="education"
                [valuePrimitive]="true"
              />
            </kendo-floatinglabel>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-floatinglabel [text]="'საგამოცდო ქალაქი'">
              <kendo-dropdownlist
                [data]="cities$ | async"
                textField="name"
                valueField="id"
                formControlName="district_id"
                [valuePrimitive]="true"
                (valueChange)="districtChange($event)"
              />
            </kendo-floatinglabel>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-floatinglabel [text]="'ტესტირების ენა'">
              <kendo-dropdownlist
                [data]="languages$ | async"
                textField="value"
                valueField="id"
                formControlName="language"
                [valuePrimitive]="true"
                (valueChange)="languageChange($event)"
              />
            </kendo-floatinglabel>
          </kendo-formfield>
        </div>

        <div class="section">
          <div class="title">
            <span>ტესტირება/შერჩევის პროცესისთვის გესაჭიროებათ თუ არა ადაპტირებული გარემო ?</span>
            <kendo-switch [onLabel]="'დიახ'" [offLabel]="'არა'" [checked]="isSpecEnvEnabled()" #specEnvSwitch />
          </div>
          @if (specEnvSwitch.checked) {
            <div class="checkbox-selection-container">
              @for (specEnv of specEnvs; track specEnv) {
                <div>
                  <input
                    type="checkbox"
                    kendoCheckBox
                    [checked]="form?.get('spec_env')?.value.includes(specEnv)"
                    (change)="onSpecEnvChange($event, specEnv)"
                  />
                  <kendo-label class="k-checkbox-label" [text]="specEnv" />
                  @if (form.invalid && !form.untouched && specEnvSwitch.checked && form?.get('spec_env')?.value?.length === 0) {
                    <kendo-formerror>ველი სავალდებულოა</kendo-formerror>
                  }
                </div>
              }
            </div>
          }
          @if (form.invalid && !form?.get('spec_env')?.untouched && form?.get('spec_env')?.value.length === 0 && !specEnvSwitch.checked) {
            <kendo-formerror>ველი სავალდებულოა</kendo-formerror>
          }
        </div>

        <div class="section">
          <div class="title">
            <span>
              @if (tokenUser$()?.residential === 'GEO') {
                დაასრულეთ თუ არა უცხო ქვეყნის ზოგადი საგანმანათლებლო დაწესებულება მიმდინარე ან წინა წელს ?
              } @else {
                უცხოეთში მცხოვრები თანამემამულის სტატუსის მქონე ქვეყნის მოქალაქე
              }
            </span>
            <kendo-switch
              [onLabel]="'დიახ'"
              [offLabel]="'არა'"
              [disabled]="abroadSwitch.checked"
              #ocuSwitch
              (valueChange)="toggleSwitcher($event, 'complete_edu_abroad')"
              [checked]="isAbroadEnabled()"
            />
          </div>
          @if (ocuSwitch.checked && !abroadSwitch.checked) {
            <div class="warning">
              <kendo-svg-icon [icon]="kendoIcons.infoCircleIcon" size="xxlarge" />
              გთხოვთ არ მონიშნოთ “დიახ” თუ ასეთი სტატუსი არ გაგაჩნიათ, წინააღმდეგ შემთხვევაში დაწესებულებაში თქვენი
              ჩარიცხვა ვერ განხორციელდება!
            </div>
            <vet-file-upload (fileUploaded)="handleFileUpload($event, 'abroad_doc')" />
          }
        </div>

        <div class="section">
          <div class="title">
            <span>
              @if (tokenUser$()?.residential === 'GEO') {
                დაასრულეთ თუ არა ზოგადი განათლების საშუალო საფეხური ოკუპირებულ ტერიტორიაზე მიმდინარე ან წინა წელს ?
              } @else {
                თავშესაფრის მაძიებელი, ლტოლვილი ან ჰუმანიტარული სტატუსის მქონე პირი
              }
            </span>
            <kendo-switch
              [onLabel]="'დიახ'"
              [offLabel]="'არა'"
              [disabled]="ocuSwitch.checked"
              #abroadSwitch
              (valueChange)="toggleSwitcher($event, 'complete_base_edu_abroad')"
              [checked]="isOcuEnabled()"
            />
          </div>
          @if (abroadSwitch.checked && !ocuSwitch.checked) {
            <div class="warning">
              <kendo-svg-icon [icon]="kendoIcons.infoCircleIcon" size="xxlarge" />
              გთხოვთ არ მონიშნოთ “დიახ” თუ ასეთი სტატუსი არ გაგაჩნიათ, წინააღმდეგ შემთხვევაში დაწესებულებაში თქვენი
              ჩარიცხვა ვერ განხორციელდება!
            </div>
            <vet-file-upload (fileUploaded)="handleFileUpload($event, 'ocu_doc')" />
          }
        </div>
      </div>
      <div class="k-display-flex k-justify-content-end">
        <button kendoButton themeColor="primary" (click)="onNextClick()">
          {{ 'auth.next' | transloco }}
        </button>
      </div>
    </form>
  </div>
}
