<div class="k-display-flex k-flex-column k-gap-10">
  <div class="container">
    <div class="k-p-5 k-text-h1 k-border-solid k-border k-border-secondary k-rounded-xxl k-font-xl">
      {{ 'programs.commission_member_rules' | transloco }}
    </div>
  </div>

  <div class="container">
    @if (programsWithCommissionMembers$.value()?.data; as _programsWithCommissionMembers) {
      <kendo-grid [data]="_programsWithCommissionMembers">
        <kendo-grid-column [title]="'programs.commission_members' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <div class="k-display-flex k-flex-column k-gap-2">
              @for (member of item.commission_members; track $index) {
                <div class="k-display-flex k-gap-3">
                  {{ member.name }}
                  {{ member.phone }}
                </div>
              }
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [title]="'programs.about_program' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <div class="k-display-flex k-flex-column k-gap-2">
              <div class="k-display-flex k-gap-3">
                <p class="k-font-bold">{{ 'programs.program_code' | transloco }}</p>
                <p>{{ item.program_code }}</p>
              </div>

              <vet-divider />

              <div class="k-display-flex k-gap-3">
                <p class="k-font-bold">{{ 'programs.name' | transloco }}</p>
                <p>{{ item.program_name }}</p>
              </div>

              <div class="k-display-flex k-gap-3">
                <p class="k-font-bold">{{ 'programs.level' | transloco }}</p>
                <p>{{ item.education_level }}</p>
              </div>

              <div class="k-display-flex k-gap-3">
                <p class="k-font-bold">{{ 'programs.integrated' | transloco }}</p>
                <p>{{ item.is_integrated ? ('shared.yes' | transloco) : ('shared.no' | transloco) }}</p>
              </div>

              <div class="k-display-flex k-gap-3">
                <p class="k-font-bold">{{ 'programs.form' | transloco }}</p>
                <p>{{ item.program_kind.name }}</p>
              </div>

              <div class="k-display-flex k-gap-3">
                <p class="k-font-bold">{{ 'programs.implementation_location' | transloco }}</p>
                <p>{{ item.address }}</p>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [title]="'programs.other' | transloco" [width]="60">
          <ng-template kendoGridCellTemplate let-item>
            <div class="k-display-flex k-align-items-center">
              <button
                kendoButton
                fillMode="flat"
                [svgIcon]="vetIcons.plusCircled"
                (click)="onMemberAddClick(item.program_name)"
              ></button>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    }
  </div>
</div>

@if (isMembersDialogOpen()) {
  <vet-commission-members-dialog (dialogClose)="closeDialog()" [programName]="selectedProgramName()" />
}
