:host {
  display: block;
  width: 100%;
  .programs-additional-filters-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: end;
    gap: 0.625rem;
    @media (max-width: 50rem) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 37.5rem) {
      grid-template-columns: 1fr;
    }
  }

  .programs-filters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: end;
    gap: 0.625rem;
  }

  .programs-filter-action-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
