<kendo-card width="100%">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="programs-filters-container k-pb-5 k-px-5">
      @for (filter of mapFilters().slice(0, 2); track $index) {
        @let labelText = 'programs.' + filter.key | transloco;
        @if (filter.type === 'select') {
          @if (isFilterExpanded()) {
            <kendo-label [text]="labelText">
              <kendo-dropdownlist
                [formControlName]="filter.key"
                [data]="filter.values"
                valueField="id"
                textField="name"
              />
            </kendo-label>
          }
        } @else if (filter.type === 'text') {
          <kendo-label [text]="labelText">
            <kendo-textbox [formControlName]="filter.key" />
          </kendo-label>
        }
      }
    </div>

    @if (isFilterExpanded()) {
      <div class="programs-additional-filters-container k-pb-5 k-px-5">
        @for (filter of mapFilters().slice(2); track $index) {
          @let labelText = 'programs.' + filter.key | transloco;
          @if (filter.type === 'select') {
            <kendo-label [text]="labelText">
              <kendo-dropdownlist
                [formControlName]="filter.key"
                [data]="filter.values"
                valueField="id"
                textField="name"
              />
            </kendo-label>
          } @else if (filter.type === 'text') {
            <kendo-label [text]="labelText">
              <kendo-textbox [formControlName]="filter.key" />
            </kendo-label>
          }
        }

        <kendo-label [text]="'programs.form' | transloco">
          <kendo-dropdownlist
            [valuePrimitive]="true"
            formControlName="form"
            valueField="id"
            textField="value"
            [data]="programTypes$.value()"
          />
        </kendo-label>

        <kendo-label [text]="'programs.duration' | transloco">
          <kendo-dropdownlist
            formControlName="duration"
            [data]="durationDropdownValues"
          />
        </kendo-label>

        @for (filter of mapFilters(); track $index) {
          @if (filter.type === 'bool') {
            <kendo-label [text]="'programs.' + filter.key | transloco">
              <kendo-switch
                [formControlName]="filter.key"
                [onLabel]="'programs.yes' | transloco"
                [offLabel]="'programs.no' | transloco"
              />
            </kendo-label>
          }
        }
      </div>
    }

    <div class="programs-filter-action-container k-pb-5 k-px-5">
      @let toggleBtnIcon = isFilterExpanded() ? kendoIcons.arrowUpIcon : kendoIcons.arrowDownIcon;
      <button
        kendoButton
        [svgIcon]="toggleBtnIcon"
        fillMode="outline"
        themeColor="primary"
        (click)="toggleFilterExpansion()"
      ></button>

      <button
        kendoButton
        [svgIcon]="kendoIcons.parametersIcon"
        fillMode="outline"
        themeColor="primary"
        (click)="isFilterDialogOpen.set(true)"
      ></button>

      <button
        kendoButton
        [svgIcon]="kendoIcons.xIcon"
        fillMode="outline"
        themeColor="primary"
        (click)="clearFilters()"
      ></button>

      <button kendoButton [svgIcon]="kendoIcons.searchIcon" fillMode="solid" themeColor="primary" type="submit">
        {{ 'programs.search' | transloco }}
      </button>
    </div>
  </form>
</kendo-card>

@defer (when isFilterDialogOpen()) {
  @if (isFilterDialogOpen()) {
    <vet-programs-filters-dialog [filters]="filters()" (dialogClose)="isFilterDialogOpen.set(false)" [filterForm]="filterForm"/>
  }
}
