@use '@vet/shared-styles' as shared;

:host {
  display: block;
}

button.k-button.vet-button {
  width: 100%;

  &.vet-floating-fix {
    //margin-top: 0.125rem;
  }

  &.vet-button-fat {
    @include shared.text-base(true);
    height: 3.125rem;
    border-radius: 0.625rem !important;
    padding: 1.125rem 1rem;
  }

  &.vet-button-thin {
    @include shared.text-base();
    height: 2.375rem;
    border-radius: 0.625rem;
    padding: 0.875rem 1.375rem;
  }

  .vet-icon.vet-button-icon {

  }

  &.vet-button-loading {
    .vet-loading-spinner {
      animation: vet-button-spin 1s linear infinite;
    }
  }
}

@keyframes vet-button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::ng-deep {
  button.k-button.vet-button .k-button-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
  }
}
