@let _leadingIcon = leadingIcon();
@let _trailingIcon = trailingIcon();
@let _version = version();
@let _iconSize = iconSize() || (_version === 'fat' ? 'medium' : 'small');
@let _isLoading = isLoading();

<button
  kendoButton
  class="vet-button vet-button-{{ _version }}"
  [class.vet-floating-fix]="floatingFix() !== false"
  [class.vet-button-loading]="_isLoading"
  [type]="type()"
  [fillMode]="mode()"
  [themeColor]="variant()"
  [disabled]="disabled() || _isLoading"
>
  <ng-content select="[prefix]" />

  @if (_isLoading) {
    <vet-icon
      class="vet-button-icon vet-icon-leading vet-loading-spinner"
      icon="loadingSpinner"
      [size]="_iconSize"
    />
  } @else if (_leadingIcon) {
    <vet-icon
      class="vet-button-icon vet-icon-leading"
      [icon]="_leadingIcon"
      [size]="_iconSize"
    />
  }

  <span>
    {{ text() }}
    <ng-content />
  </span>

  @if (_trailingIcon) {
    <vet-icon
      class="vet-button-icon vet-icon-trailing"
      [icon]="_trailingIcon"
      [size]="_iconSize"
    />
  }

  <ng-content select="[suffix]" />
</button>
