:host {
  display: block;
}

.footer {
  background: var(--main-bg);
  border-top: 1px solid var(--border-none);

  .link-groups {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 5rem;
    gap: 3rem;
  }

  .link-section {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: 18.5rem;

    h6 {
      color: var(--secondary-color);
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 0.875rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--text-secondary-color);
      font-size: 0.75rem;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--link-color);
      }

      &:not(:first-of-type) {
        margin-top: 0.8rem;
      }
    }
  }

  .divider {
    border-top: 1px solid var(--border-none);
    margin-top: 1.5rem;
  }

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
  }

  .copyright {
    text-align: center;
    background: var(--nav-bg-color);
    color: var(--nav-link-color);
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  /* ✅ Responsive Design */
  @media (max-width: 768px) {
    .link-groups {
      justify-content: center;
      padding: 2rem 2rem;
      .link-section {
        min-width: auto;
        width: 100%;
        text-align: center;
      }
    }

    .logos {
      padding: 1rem 2rem;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}
