@let _program = program();

<div>
  <h1 class="vet-program-institution">{{ organisation?.name }}</h1>
  <h2 class="vet-program-name">{{ programName() }}</h2>

  <div class="vet-program-cards-container">
    <div class="vet-program-card-container">
      <vet-program-details
        [program]="_program"
        [items]="details()"
        [iscedCode]="iscedCode()"
      />
    </div>

    <div class="vet-program-card-container">
      <ng-content select="[admissions]" />
    </div>
  </div>

  @if (showPartners()) {
    <vet-program-partners [partners]="programPartners()" />
  }
</div>
