@let _programs = programs();

<div class="vet-shorts">
  <vet-short-term-programs-filters
    class="vet-shorts-filters"
    [filters]="filters()"
    (filtersChange)="onFiltersChange($event)"
  />

  @if (data.isLoading()) {
    <div class="vet-empty vet-loading">
      {{ 'shared.loading' | transloco }}
    </div>
  } @else if (_programs.length === 0) {
    <div class="vet-empty vet-not-found">
      {{ 'shared.noRecords' | transloco }}
    </div>
  } @else {
    <vet-short-term-programs-grid [items]="programs()"/>
  }
</div>
