@if (form(); as form) {
  <div class="k-display-flex k-gap-10 k-flex-column">
    <form [formGroup]="form">
      <div class="k-display-flex k-flex-column k-gap-10">
        <div class="k-display-flex k-gap-5">
          <kendo-label [text]="'auth.citizenship' | transloco">
            <kendo-dropdownlist
              [data]="countries"
              formControlName="citizenship"
              inputmode="flat"
              valueField="code"
              textField="name"
              [valuePrimitive]="true"
            />
          </kendo-label>

          <kendo-label [text]="'auth.id_or_passport_number' | transloco">
            <kendo-textbox [clearButton]="true" formControlName="personalNumber" />
          </kendo-label>
        </div>

        <div class="k-display-flex k-gap-5">
          <kendo-label [text]="'auth.name' | transloco">
            <kendo-textbox [clearButton]="true" formControlName="firstname" />
          </kendo-label>

          <kendo-label [text]="'auth.last_name' | transloco">
            <kendo-textbox [clearButton]="true" formControlName="lastname" />
          </kendo-label>
        </div>

        <div class="k-display-flex k-gap-5">
          <kendo-label [text]="'auth.date_of_birth' | transloco">
            <kendo-datepicker [clearButton]="true" formControlName="dateOfBirth" />
          </kendo-label>

          <kendo-label [text]="'auth.gender' | transloco">
            <kendo-dropdownlist
              [data]="genders"
              formControlName="gender"
              [valuePrimitive]="true"
              valueField="code"
              textField="name"
            />
          </kendo-label>
        </div>

        <div class="k-display-flex k-justify-content-between">
          <button kendoButton type="button" themeColor="secondary" (click)="onPreviousClick()">
            {{ 'auth.back' | transloco }}
          </button>

          <button kendoButton type="button" themeColor="primary" (click)="onNextClick()">
            {{ 'auth.next' | transloco }}
          </button>
        </div>
      </div>
    </form>
  </div>
}
