@if (identityForm(); as form) {
  <form vet-container gap-s [formGroup]="form">
    <div vet-row>
      <vet-selector
        self-grow
        formControlName="residential"
        [label]="'auth.citizenship' | transloco"
        version="fat"
        valueField="value"
        textField="label"
        [options]="countriesOptions()"
      />

      <vet-input
        self-grow
        version="fat"
        formControlName="personalNumber"
        [topLabelFromThe90s]="'auth.id_or_passport_number' | transloco"
      />
    </div>

    <div vet-row>
      <vet-input
        self-grow
        version="fat"
        formControlName="firstName"
        [topLabelFromThe90s]="'auth.name' | transloco"
      />

      <vet-input
        self-grow
        version="fat"
        formControlName="lastName"
        [topLabelFromThe90s]="'auth.last_name' | transloco"
      />
    </div>

    <div vet-row>
      <vet-input
        self-grow
        version="fat"
        formControlName="firstNameEn"
        [topLabelFromThe90s]="'auth.name_english' | transloco"
      />

      <vet-input
        self-grow
        version="fat"
        formControlName="lastNameEn"
        [topLabelFromThe90s]="'auth.last_name_english' | transloco"
      />
    </div>

    <div vet-row>
      <vet-date-picker
        self-grow
        formControlName="dateOfBirth"
        [label]="'auth.date_of_birth' | transloco"
        version="fat"
      />

      <vet-selector
        self-grow
        formControlName="gender"
        [label]="'auth.gender' | transloco"
        version="fat"
        valueField="value"
        textField="label"
        [options]="gendersOptions()"
      />
    </div>
  </form>
}
