:host {
  display: block;

  .partners {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__controls {
      display: flex;
      align-items: center;

      &--view-all {
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #356b96;
        }
      }

      .k-separator {
        border: 0.03125rem solid #e5e7eb;
        height: 1.5rem;
        align-self: center;
      }

      &--nav {
        display: flex;

        .nav-button {
          background-color: #ffffff;
          border-radius: 50%;
          border: none;
          outline: none;
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;

          &:hover {
            background-color: #f5faff;
          }
        }
      }
    }

    &__slider {
      display: flex;
      gap: 4.375rem;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &-item {
        flex: 0 0 auto;
        width: 6.25rem;
        max-width: 6.25rem;
        overflow: hidden;
        text-wrap: wrap;
        text-align: center;
        cursor: pointer;
        transition: box-shadow 0.2s ease;

        &:hover {
          transform: scale(1.06);
        }

        &-img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 1.875rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ffffff;
          transition: box-shadow 0.2s ease, background-color 0.3s ease;

          &:hover {
            background-color: #fafbfc;
            box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.08); // Slightly elevated on hover
          }

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 1.875rem;
          }
        }
      }
    }
  }
}

::ng-deep {
  .nav-button {
    kendo-svg-icon {
      display: block !important;

      svg {
        height: 0.5rem !important;
      }
    }
  }
}
