<div class="partners k-py-10">
  <div class="k-display-flex k-justify-content-between k-align-items-center ">
    <div class="k-text-lg">{{ 'home.partners' | transloco }}</div>

    <div class="partners__controls k-gap-4">
      <button class="partners__controls--view-all k-text-base k-color-body-extra-dark">
        {{ 'shared.seeAll' | transloco }}
      </button>

      <div class="k-separator"></div>

      <div class="partners__controls--nav k-gap-2.5">
        <button class="nav-button" (click)="scrollLeft(slider)">
          <kendo-svg-icon [size]="'small'" [icon]="vetIcons.previous" />
        </button>
        <button class="nav-button" (click)="scrollRight(slider)">
          <kendo-svg-icon [size]="'small'" [icon]="vetIcons.next" />
        </button>
      </div>
    </div>
  </div>

  <div #slider class="partners__slider">
    @for (item of sliderData$ | async; track item) {
      <div class="partners__slider-item k-display-flex k-flex-column k-gap-3">
        <div class="partners__slider-item-img">
          <img [src]="item.imageUrl" [alt]="item.title" />
        </div>
        <span class="k-text-base k-color-body">
          <b>{{ item.subtitle }}</b>
        </span>
      </div>
    }
  </div>
</div>
