kendo-label {
    width: 100%;
}
.k-dropdownlist {
    height: 2.375rem;
}

.k-textbox {
    .k-input-inner {
        padding-block: 8px;
    }
}

.k-drawer-wrapper {
    height: 100%;
}

// Kendo Stepper Customizations
.k-stepper .k-step-label .k-step-text {
    max-width: 100%;
}

.k-step-list-vertical .k-step {
    min-height: auto;
}

.k-stepper .k-step-list {
    row-gap: 3rem;
}

.k-rounded-card {
    border-radius: 1.25rem;
}
