@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeue-01.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../assets/fonts/HelveticaNeue-Medium-11.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../assets/fonts/HelveticaNeue-Bold-02.ttf');
    font-weight: bold;
    font-style: normal;
}
