<div class="k-display-flex k-flex-column k-gap-10">
  <div class="vet-exam-card-container">
    <vet-exam-card-filter (filtersChange)="onFiltersChange($event)" />

    <div class="k-display-flex k-flex-column k-gap-5">
      @if (examCard$.value()?.data; as _examCard) {
        <div class="vet-exam-card">
          <img src="/assets/images/profile.png" width="183" height="157" alt="Profile" />

          <div class="vet-exam-card-info">
            <div class="vet-exam-card-info-row">
              <p>{{ 'programs.pid' | transloco }}: {{ _examCard.user?.pid }}</p>
              <p>
                {{ 'programs.gender' | transloco }}:
                {{ 'programs.' + _examCard.user?.gender | transloco }}
              </p>
            </div>

            <div class="vet-exam-card-info-row">
              <p>{{ 'programs.name_surname' | transloco }}: {{ _examCard.user?.name }}</p>
              <p>
                {{ 'programs.citizenship' | transloco }}:
                {{ _examCard.user?.residential | transloco }}
              </p>
            </div>

            <div class="vet-exam-card-info-row">
              <p>
                {{ 'programs.date_of_birth' | transloco }}:
                {{ _examCard.user?.birthDate | date: 'dd.MM.yyyy' }}
              </p>
            </div>
          </div>
        </div>

        @if (_examCard.programs; as selectedPrograms) {
          <kendo-grid [data]="selectedPrograms">
            <ng-template kendoGridNoRecordsTemplate>
              {{ 'programs.no_records' | transloco }}
            </ng-template>

            <kendo-grid-column title="#" [width]="50">
              <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                {{ rowIndex + 1 }}
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="college" [title]="'programs.college' | transloco">
              <ng-template kendoGridCellTemplate let-item>
                {{ item.program.organisation.name }}
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="program" [title]="'programs.program' | transloco">
              <ng-template kendoGridCellTemplate let-item>
                {{ item.program.program_name }}
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="education_level" [title]="'programs.selection_name' | transloco">
              <ng-template kendoGridCellTemplate let-item>
                {{ item.program.program_kind.name }}
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="exam_center" [title]="'programs.exam_center' | transloco">
              <ng-template kendoGridCellTemplate let-item>
                {{ item.address }}
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="exam_date" [title]="'programs.exam_start_date' | transloco">
              <ng-template kendoGridCellTemplate let-item>
                {{ item.start_at | date: 'dd.MM.yyyy' }}
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        }

        <div class="k-border k-border-solid k-border-warning vet-exam-card-warning">
          <div class="k-display-flex k-gap-2 k-align-items-center">
            <kendo-svg-icon [icon]="vetIcons.infoWarning" />
            <p>{{ 'programs.note' | transloco }}</p>
          </div>

          <div class="k-display-flex k-flex-column k-gap-3 k-text-base k-color-hint">
            <p>
              {{ 'programs.exam_conditions' | transloco }}
            </p>

            <ul class="k-ml-5">
              <li>
                {{ 'programs.first_condition' | transloco }}
              </li>
              <li>{{ 'programs.exam_card' | transloco }}</li>
              <li>{{ 'programs.pen' | transloco }}</li>
              <li>{{ 'programs.bottle_of_water' | transloco }}</li>
            </ul>

            <p>{{ 'programs.wish_success' | transloco }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
