@let _program = program();

<div>
  <h1 class="vet-short-institution">{{ _program.organisation?.name }}</h1>
  <h2 class="vet-short-program-name">{{ _program.program_name }}</h2>

  <div class="vet-short-cards-container">
    <div class="vet-short-card-container">
      <vet-short-program-details [program]="_program" />
    </div>

    <div class="vet-short-card-container">
      <vet-short-program-admissions [admissions]="_program.admissions" />
    </div>
  </div>

  <vet-short-program-partners [partners]="_program.partners" />
</div>
