@if (resolvedParams(); as paramsObject) {
  <kendo-dialog
    class="vet-alert-dialog"
    [title]="paramsObject.title ? (paramsObject.title | transloco) : ''"
    [width]="523"
    (close)="close()"
  >
    <div class="k-display-flex k-flex-column k-gap-5">
      <div class="k-display-flex k-justify-content-center">
      @if (!paramsObject.variant || paramsObject.variant === 'success') {
        <kendo-svg-icon [icon]="vetIcons.successCircle" size="xxlarge" />
      } @else if (paramsObject.variant === 'error') {
        <kendo-svg-icon [icon]="vetIcons.errorCircle" size="xxlarge" />
      }
      </div>

      @if (paramsObject.text) {
        <div class="k-text-base k-text-center" (click)="onClick($event)">
          <b [innerHTML]="paramsObject.text"></b>
        </div>
      }

      @if (paramsObject.template) {
        <div>
          <ng-container *ngTemplateOutlet="paramsObject.template" />
        </div>
      }
    </div>
  </kendo-dialog>
}
