@if (resolvedParams(); as params) {
  <kendo-dialog
    class="vet-alert-dialog"
    [title]="params.title ? (params.title | transloco) : ''"
    [width]="dialogWidth"
    (close)="close()"
    [ngClass]="params.variant"
  >
    <div class="dialog-header">
      <button kendoButton class="dialog-close-btn" (click)="close()" aria-label="Close" type="button" fillMode="flat">
        <kendo-svg-icon [icon]="vetIcons.dialogClose" [size]="'xlarge'" />
      </button>
    </div>

    <div class="dialog-content">
      <div class="dialog-icon">
        <kendo-svg-icon [icon]="getIconByVariant(params.variant)" size="xxlarge" />
      </div>

      @if (params.text) {
        <div class="dialog-message" (click)="handleLinkClick($event)">
          <span [innerHTML]="params.text"></span>
        </div>
      }

      @if (params.template) {
        <div class="dialog-template">
          <ng-container *ngTemplateOutlet="params.template" />
        </div>
      }
    </div>
  </kendo-dialog>
}
