@use '@vet/shared-styles' as shared;

:host {
  display: block;
}

.vet-exam-card-warning {
  border-radius: 0.625rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.vet-exam-card {
  background-color: shared.$kendo-color-chip;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.625rem;

  .vet-exam-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .vet-exam-card-info-row {
      display: flex;
      padding: 1rem;
      border-bottom: 2px solid shared.$white;
    }

    p {
      width: 50%;
      color: shared.$kendo-color-body-dark;
    }
  }
}
