:host {
  display: block;

  .programs-filters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: end;
    gap: 0.625rem;
    @media (max-width: 50rem) {
      grid-template-columns: 1fr;
    }
  }
}
