:host {
  display: block;

  .programs-filters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}
