<kendo-dialog [width]="661" [height]="661" [title]="'programs.filter' | transloco" (close)="handleClose()">
  <form>
    <div>
      <div class="k-display-flex k-flex-column">
        <kendo-label [text]="'programs.addmission_announced' | transloco">
          <kendo-switch [onLabel]="'programs.yes' | transloco" [offLabel]="'programs.no' | transloco" />
        </kendo-label>

        <kendo-label [text]="'programs.search' | transloco">
          <kendo-textbox>
            <ng-template kendoTextBoxSuffixTemplate>
              <kendo-svg-icon [icon]="kendoIcons.searchIcon" />
            </ng-template>
          </kendo-textbox>
        </kendo-label>

        <kendo-label [text]="'programs.organisation_id' | transloco">
          <kendo-dropdownlist />
        </kendo-label>
      </div>

      <div class="programs-filters-container">
        @for (filter of mapFilters().slice(2); track $index) {
          @if (filter.type === 'select') {
            <kendo-label [text]="'programs.' + filter.key | transloco">
              <kendo-dropdownlist
                [formControlName]="filter.key"
                [data]="filter.values"
                valueField="id"
                textField="name"
              />
            </kendo-label>
          } @else if (filter.type === 'text') {
            <kendo-label [text]="'programs.' + filter.key | transloco">
              <kendo-textbox [formControlName]="filter.key" />
            </kendo-label>
          }
        }
        <!-- <kendo-label [text]="'programs.program_code' | transloco">
          <kendo-textbox />
        </kendo-label>

        <kendo-label [text]="'programs.form' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.program_duration' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.integrated' | transloco">
          <kendo-textbox />
        </kendo-label>

        <kendo-label [text]="'programs.financing' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.partner_organizations' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.partner_economy_sector' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.partner_organization_size' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.region' | transloco">
          <kendo-dropdownlist />
        </kendo-label>

        <kendo-label [text]="'programs.district' | transloco">
          <kendo-dropdownlist />
        </kendo-label> -->
      </div>
    </div>
  </form>
  {{filters() | json}}
  <kendo-dialog-actions>
    <div class="k-display-flex k-justify-content-between">
      <button kendoButton [svgIcon]="kendoIcons.xIcon" fillMode="flat" themeColor="error" (click)="handleSave()">
        {{ 'programs.clear_filters' | transloco }}
      </button>

      <button kendoButton [svgIcon]="kendoIcons.saveIcon" themeColor="primary" (click)="handleSave()">
        {{ 'programs.search' | transloco }}
      </button>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>
