:host {
  display: block;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.vet-pinned-post {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5.75rem;
  gap: 2rem;
  border-radius: 1.25rem;
  background: #fdf8ff;

  @media (max-width: 48rem) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: 100%;
    gap: 1rem;
    border-radius: 1.25rem;
    background: #fdf8ff;
  }
}

.vet-pinned-post-image-container {
  width: 50%;
  height: 17.625rem;
  border-radius: 0.625rem;
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: 48rem) {
    width: 50%;
    height: 17.625rem;
    border-radius: 0.625rem;
    overflow: hidden;
    flex-shrink: 0;
  }
}

.vet-pinned-post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: 48rem) {
    width: 100%;
    height: 50%;
  }
}

.vet-pinned-post-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @media (max-width: 48rem) {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.vet-pinned-post-date {
  font-size: 0.75rem;
  color: #b1b7bb;
  display: block;

  @media (max-width: 48rem) {
    font-size: 0.625rem;
  }
}

.vet-pinned-post-title {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: var(--text-color);
  text-wrap: wrap;

  @media (max-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.vet-pinned-post-description {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--secondary-text-color);
  text-wrap: wrap;

  @media (max-width: 48rem) {
    font-size: 0.75rem;
    line-height: 1rem;
    -webkit-line-clamp: 2;
  }
}

::ng-deep {
  .vet-posts-scrollview {
    kendo-svgicon.k-svg-icon {
      width: 1.5625rem !important;
      height: 1.6875rem !important;
    }
  }
}
