<form [formGroup]="filterForm">
  <div class="k-d-flex k-gap-4 k-pb-5 k-flex-wrap">
    <div class="k-d-flex k-gap-4 k-w-full">
      <kendo-label [text]="'shared.search' | transloco">
        <kendo-textbox formControlName="search">
          <ng-template class="k-bg-primary" kendoTextBoxSuffixTemplate>
            <div [title]="'programs.admissionFilterSearchTooltip' | transloco" kendoTooltip>
              <kendo-svg-icon [icon]="vetIcons.info" />
            </div>
          </ng-template>
        </kendo-textbox>
      </kendo-label>

      <kendo-label [text]="'shared.status' | transloco">
        <kendo-dropdownlist
          [data]="admissionStatus$.value()"
          [valuePrimitive]="true"
          formControlName="status"
          textField="value"
          valueField="id"
        />
      </kendo-label>
    </div>
  </div>
  <div class="k-display-flex k-justify-content-end k-gap-4">
    <button
      (click)="clearFilters()"
      [svgIcon]="kendoIcons.xIcon"
      fillMode="outline"
      kendoButton
      themeColor="primary"
    ></button>

    <button (click)="onSubmit()" [svgIcon]="kendoIcons.searchIcon" fillMode="solid" kendoButton themeColor="primary">
      {{ 'shared.search' | transloco }}
    </button>
  </div>
</form>
