<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div vet-container>
    <div vet-row>
      <vet-input
        formControlName="search"
        leadingIcon="info"
        trailingIcon="search"
        [placeholder]="'shorts.search' | transloco"
        [leadingIconTooltip]="'programs.admissionFilterSearchTooltip' | transloco"
      />

      <vet-selector
        formControlName="program"
        [placeholder]="'shared.program' | transloco"
        [options]="admissionStatus$.value()"
      />
    </div>

    <div vet-line gap-dense content-right>
      <vet-icon-button icon="close" (click)="clearFilters()" />

      <vet-button leadingIcon="search" type="submit">
        {{ 'shared.search' | transloco }}
      </vet-button>
    </div>
  </div>
</form>
