<div class="wrapper k-pt-14">
  <nav class="menu">
    @for (item of menuItems; track $index) {
      @let text = 'profile.' + item.text | transloco;
      <a class="menu-item" [routerLink]="item.url" routerLinkActive="selected-menu-item">
        <!-- <kendo-svg-icon [icon]="kendoIcons.menuIcon"></kendo-svg-icon> -->
        <img routerLinkActive="selected-menu-item-icon" [src]="item.icon" [alt]="text" />
        <p routerLinkActive="selected-menu-item-text" class="menu-item-text">
          {{ text }}
        </p>
      </a>
    }
  </nav>

  <router-outlet />
</div>
