@let _program = sanitizedProgram();

<div class="vet-shorts-card">
  <div class="vet-shorts-card-header">
    <vet-program-isced-icon [iconId]="iscedCode()"/>

    <div class="vet-shorts-card-heading">
      <div class="vet-shorts-card-title">{{ _program.program_name }}</div>
      <div class="vet-shorts-card-subtitle">{{ organisationName }}</div>
    </div>
  </div>

  <div class="vet-shorts-card-details">
    <div class="vet-shorts-card-detail-item">
      {{ 'shorts.level_nth' | transloco: { level: programLevel } }}
    </div>

    <div class="vet-shorts-card-detail-item">
      {{ _program.program_kind?.name }}
    </div>

    <div class="vet-shorts-card-detail-item">
      {{ 'shorts.duration_weeks' | transloco: { duration: _program.program_duration } }}
    </div>
  </div>

  <div class="vet-shorts-card-field-container">
    <span>{{ 'shorts.field' | transloco }}:</span>
    <span>{{ _program.isced?.name }}</span>
  </div>

  <div class="vet-shorts-card-footer">
    <div class="vet-shorts-card-location">
      <kendo-svg-icon [icon]="vetIcons.locationPin" />
      <span class="vet-shorts-card-address">{{ _program.region?.name }}</span>
    </div>

    <a
      [routerLink]="[programDetailsPath() ?? 'programs', _program.id]"
      [queryParams]="{ programName: _program.program_name }"
      class="vet-shorts-card-link"
    >
      {{ 'shorts.view_details' | transloco }}
    </a>
  </div>
</div>
