<form
  [formGroup]="confirmationForm"
  (ngSubmit)="onSubmit()"
  class="k-display-flex k-flex-column k-gap-6 k-px-14 k-py-8 k-bg-white"
>
  <div
    class="k-border-solid k-border k-border-primary k-bg-white k-rounded-2.5 k-p-2 k-display-flex k-gap-2 k-align-items-center"
    kendoTooltip
    [tooltipWidth]="600"
  >
    <kendo-svg-icon [title]="'auth.auth_info_text' | transloco" [icon]="vetIcons.authInfo" [size]="'xxlarge'" />
    <p class="k-text-base">{{ 'auth.verification_send_text' | transloco: { value: getPhoneMask() } }}</p>
  </div>

  <div class="k-display-flex k-justify-content-center">
    <vet-registration-phone-verification
      formControlName="code"
      [timeSent]="timeSent()"
      [isPending]="is2FaPending()"
      [isValid]="isValid()"
      [errorMessage]="errorMessage()"
      (reload)="onSubmit()"
    />
  </div>

  <div class="k-display-flex k-flex-column k-align-items-center k-mt-4 k-gap-3">
    <div class="k-w-full k-px-16">
      <button
        kendoButton
        type="submit"
        themeColor="primary"
        class="k-w-full"
        look="default"
        [disabled]="isSubmitButtonDisabled()"
      >
        @if (is2FaPending()) {
          <kendo-loader size="small" />
        }
        {{ 'auth.login' | transloco }}
      </button>
    </div>

    <a
      class="k-cursor-pointer k-text-base k-text-underline k-color-primary"
      [routerLink]="['/registration']"
      [class.k-disabled]="is2FaPending()"
      >{{ 'auth.registration' | transloco }}</a
    >
  </div>
</form>
