<div class="sidebar-container" [class.expanded]="isExpanded()">
  <div class="sidebar-menu-toggle-container">
    <button
      kendoButton
      [svgIcon]="isExpanded() ? vetIcons.chevronLeft : vetIcons.chevronRight"
      class="sidebar-menu-toggle"
      (click)="onToggleExpansion()"
    ></button>
  </div>

  <div class="sidebar-menu-item-list">
    @for (item of items(); track item.id) {
      <div class="sidebar-menu-item" [class.active]="item.isActive" [class.highlighted]="isItemHighlighted(item)">
        <a
          kendoTooltip
          [title]="!isExpanded() ? (item.text | transloco) : ''"
          [position]="'right'"
          [routerLink]="item.url ? [item.url] : []"
          class="sidebar-menu-item-anchor"
        >
          <div class="sidebar-menu-item-button" (click)="onItemClick(item)">
            <div class="sidebar-menu-item-content">
              <div class="sidebar-menu-item-content-left">
                <div class="sidebar-menu-item-icon-container" [class.active]="item.isActive">
                  <kendo-svg-icon [icon]="item.icon" class="medium" />
                </div>

                @if (isExpanded()) {
                  <p class="vet-text-uppercase k-text-sm">{{ item.text | transloco }}</p>
                }
              </div>

              @if (isExpanded() && item.children && item.children.length > 0) {
                <kendo-svg-icon
                  [icon]="item.isExpanded() ? vetIcons.chevronBottomXs : vetIcons.chevronLeftXs"
                  class="tiny"
                />
              }
            </div>

            @if (isExpanded()) {
              <div class="sidebar-menu-item-highlighter" [class.active]="item.isActive && !item.isExpanded()"></div>
            }
          </div>
        </a>

        @if (item.isExpanded()) {
          <div class="sidebar-menu-children-list-container">
            <ul class="sidebar-menu-children-list">
              @for (child of item.children; track child.id) {
                <li class="sidebar-menu-children-list-item" [class.active]="child.isActive">
                  <a [routerLink]="child.url ? [child.url] : []">
                    <p class="vet-text-uppercase">{{ child.text | transloco }}</p>
                  </a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    }
  </div>
</div>
