<div class="vet-auth">
  <form [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
    <div class="k-display-flex k-align-items-center k-flex-column k-gap-10 k-mt-6">
      <h1 class="k-text-primary k-font-medium">{{ 'auth.recover_password' | transloco }}</h1>

      <div class="auth-container k-display-flex k-flex-column k-gap-10 k-px-14 k-py-8 k-bg-white">
        <div
          class="k-border-solid k-border k-border-primary k-bg-white k-rounded-2.5 k-p-2 k-display-flex k-gap-2 k-align-items-center"
          kendoTooltip
          [tooltipWidth]="600"
        >
          <kendo-svg-icon [title]="'auth.auth_info_text' | transloco" [icon]="vetIcons.authInfo" [size]="'xxlarge'"/>
          <p class="k-text-base">{{ 'auth.verification_send_text' | transloco: { value: getPhoneMask() } }}</p>
        </div>

        <div class="k-display-flex k-justify-content-center">
          <vet-registration-phone-verification
            formControlName="code"
            [isPending]="true"
            [isValid]="isValid()"
            [errorMessage]="errorMessage()"
            (reload)="resendCode()"
          />
        </div>

        <div class="k-display-flex k-flex-column k-gap-2">
          <kendo-label [text]="'auth.new_password' | transloco">
            <kendo-textbox formControlName="new_password" type="password" />
          </kendo-label>
          @if (formGroup().controls['new_password']; as newPasswordControl) {
            @if (newPasswordControl.touched) {
              @if (newPasswordControl.errors?.['required']) {
                <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
              }
              @if (newPasswordControl.errors?.['passwordPattern']) {
                <kendo-formerror>{{ 'shared.invalidPasswordPattern' | transloco }}</kendo-formerror>
              }
            }
          }
        </div>

        <div class="k-display-flex k-flex-column k-gap-2">
          <kendo-label [text]="'auth.repeat_password' | transloco">
            <kendo-textbox formControlName="repeat_password" type="password" />
          </kendo-label>

          @if (formGroup().controls['repeat_password']; as repeatPasswordControl) {
            @if (repeatPasswordControl.touched) {
              @if (repeatPasswordControl.errors?.['required']) {
                <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
              }
              @if (repeatPasswordControl.errors?.['passwordPattern']) {
                <kendo-formerror>{{ 'shared.invalidPasswordPattern' | transloco }}</kendo-formerror>
              }
              @if (formGroup().errors?.['passwordMismatch']) {
                <kendo-formerror>{{ 'shared.passwordsDoNotMatch' | transloco }}</kendo-formerror>
              }
            }
          }
        </div>

        <div class="k-display-flex k-flex-column k-align-items-center k-gap-5">
          <div class="k-w-full k-px-16">
            <button
              kendoButton
              themeColor="primary"
              class="k-w-full"
              look="default"
              type="submit"
              [disabled]="isLoading()"
            >
              {{ 'auth.change_password' | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #successDialogContent>
  <div class="vet-password-reset-dialog-content k-bg-white k-p-3.5">
    <div class="k-display-flex k-justify-content-end">
      <div class="k-cursor-pointer" (click)="onSuccessDialogClose()">
        <kendo-svgicon [icon]="vetIcons.dialogClose" size="xxlarge"/>
      </div>
    </div>

    <div class="k-display-flex k-flex-column k-align-items-center k-gap-5">
      <kendo-svgicon [icon]="vetIcons.success" size="xxlarge"/>
      <div class="k-text-base">{{ 'auth.password_changed_successfully' | transloco }}</div>
      <a class="k-color-primary" [routerLink]="['/authorization']" (click)="onSuccessDialogClose()">
        {{ 'auth.continue_authorization' | transloco }}
      </a>
    </div>
  </div>
</ng-template>
