<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="k-display-flex k-align-items-center k-flex-column k-gap-10 k-mt-6">
    <h1 class="k-text-primary k-font-medium">{{ 'auth.recover_password' | transloco }}</h1>

    <div class="auth-container k-display-flex k-flex-column k-gap-10 k-px-14 k-py-8 k-bg-white">
      <kendo-label [text]="'auth.verification_code' | transloco">
        <kendo-textbox [size]="'large'" [rounded]="'large'" formControlName="code" />
      </kendo-label>

      <div class="k-display-flex k-flex-column k-gap-2">
        <kendo-label [text]="'auth.new_password' | transloco">
          <kendo-textbox [size]="'large'" [rounded]="'large'" formControlName="new_password" type="password" />
        </kendo-label>
      </div>

      <div class="k-display-flex k-flex-column k-gap-2">
        <kendo-formfield>
          <kendo-label [text]="'auth.repeat_password' | transloco">
            <kendo-textbox [size]="'large'" [rounded]="'large'" formControlName="repeat_password" type="password" />
          </kendo-label>

          @if (formGroup.controls.repeat_password.errors?.['repeatPasswordInvalid']) {
            <kendo-formerror>
              {{ 'auth.passwords_do_not_match' | transloco }}
            </kendo-formerror>
          }
        </kendo-formfield>
      </div>

      <div class="k-display-flex k-flex-column k-align-items-center k-gap-5">
        <div class="k-w-full k-px-16">
          <button kendoButton themeColor="primary" class="k-w-full" look="default" type="submit">
            {{ 'auth.change_password' | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #successDialogContent>
  <div class="vet-password-reset-dialog-content k-bg-white k-p-3.5">
    <div class="k-display-flex k-justify-content-end">
      <div class="k-cursor-pointer" (click)="onSuccessDialogClose()">
        <kendo-svgicon [icon]="vetIcons.dialogClose" size="xxlarge"/>
      </div>
    </div>

    <div class="k-display-flex k-flex-column k-align-items-center k-gap-5">
      <kendo-svgicon [icon]="vetIcons.success" size="xxlarge"/>
      <div class="k-text-base">{{ 'auth.password_changed_successfully' | transloco }}</div>
      <a class="k-color-primary" [routerLink]="['/authorization']" (click)="onSuccessDialogClose()">
        {{ 'auth.continue_authorization' | transloco }}
      </a>
    </div>
  </div>
</ng-template>
