<div>
  <kendo-textbox
    class="vet-filter-input vet-date-picker"
    [class.vet-has-error]="hasError()"
    [ngModel]="displayValue()"
    fillMode="outline"
    inputmode="flat"
    [placeholder]="placeholder()"
    [readonly]="true"
    [clearButton]="true"
    [disabled]="isDisabled()"
    (focus)="datePicker.toggle(true)"
  >
    <ng-template kendoTextBoxSuffixTemplate>
      <kendo-svgicon [icon]="vetIcons.scheduleIcon"/>
    </ng-template>
  </kendo-textbox>

  <kendo-datepicker
    #datePicker
    class="vet-hidden-datepicker"
    [fillMode]="'outline'"
    [format]="kendoDatePickerFormat"
    [ngModel]="value()"
    [disabled]="isDisabled()"
    (ngModelChange)="handleChange($event)"
  />

  @if (hasError()) {
    <div class="vet-error-message">
      {{ errorMessage() | transloco }}
    </div>
  }
</div>
