<div>
  <vet-input
    [ngModel]="displayValue()"
    [placeholder]="placeholder()"
    [floatingLabel]="floatingLabel()"
    [label]="label()"
    [clearButton]="true"
    [disabled]="isDisabled()"
    [isInvalid]="hasError()"
    [readonly]="readonly()"
    [error]="error() ? error() : (errorMessage() | transloco)"
    [dense]="dense()"
    [version]="version()"
    [maxlength]="defaultDisplayDateFormat.length"
    trailingIcon="scheduleIcon"
    (ngModelChange)="onDisplayValueChange($event)"
    (click)="datePicker.isOpen ? datePicker.toggle(false) : datePicker.toggle(true)"
  />

  <kendo-datepicker
    #datePicker
    class="vet-hidden-datepicker"
    [fillMode]="'outline'"
    [format]="kendoDatePickerFormat"
    [ngModel]="value()"
    [min]="minDate()"
    [max]="maxDate()"
    [disabled]="isDisabled()"
    (ngModelChange)="handleChange($event)"
  />
</div>
