<form [formGroup]="form">
  <div class="vet-overview-container">
    <div class="vet-user-info">
      <div vet-container>
        <p class="vet-text-base">{{ 'profile.password_change' | transloco }}</p>

        <div vet-row>
          <vet-input
            self-grow
            formControlName="password"
            trailingIcon="editIcon"
            [placeholder]="'auth.password' | transloco"
          />

          <vet-input
            self-grow
            formControlName="new_password"
            trailingIcon="editIcon"
            [placeholder]="'profile.new_password' | transloco"
          />
        </div>

        <div vet-row>
          <vet-input
            self-grow
            formControlName="password_confirmation"
            trailingIcon="editIcon"
            [placeholder]="'profile.password_confirmation' | transloco"
          />

          <div vet-row></div>
        </div>
      </div>
    </div>

    <div vet-row content-right>
      <vet-button (click)="handleSave()">
        {{ 'profile.save' | transloco }}
      </vet-button>
    </div>
  </div>
</form>
