@if (form(); as form) {
  <form [formGroup]="form">
    <div class="overview-container">
      <div class="user-info">
        <div class="k-display-flex k-align-items-center k-gap-9">
          <p>{{ 'profile.password_change' | transloco }}</p>
        </div>

        <div class="form-fields-container">
          <kendo-label [text]="'auth.password' | transloco">
            <kendo-textbox formControlName="password" type="password" />
          </kendo-label>

          <kendo-label [text]="'profile.new_password' | transloco">
            <kendo-textbox formControlName="new_password" type="password" />
          </kendo-label>

          <kendo-label [text]="'profile.password_confirmation' | transloco">
            <kendo-textbox formControlName="password_confirmation" type="password" />
          </kendo-label>
        </div>
      </div>

      <div class="k-display-flex k-align-self-end">
        <button kendoButton themeColor="primary" look="default" (click)="handleSave()">
          {{ 'profile.save' | transloco }}
        </button>
      </div>
    </div>
  </form>
}
