@use '@vet/shared-styles' as shared;

:host {
  display: block;
  width: 100%;

  .vet-overview-container {
    background-color: shared.$white;
    border-radius: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .vet-user-info {
    border: 0.03125rem solid shared.$kendo-color-border-alt;
    border-radius: 0.625rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
