@let _data = data();
@let _value = _data.value();

<kendo-grid
  [loading]="_data.isLoading()"
  [data]="_value"
  [skip]="_value.skip"
  [pageSize]="_value.size"
  [pageable]="_value.total > _value.data.length"
  (pageChange)="onPageChange($event)"
>
  <ng-template kendoGridNoRecordsTemplate>
    {{ 'shared.noRecords' | transloco }}
  </ng-template>

  <kendo-grid-column
    [title]="'shorts.program' | transloco"
    field="program.name"
    [width]="200"
  >
    <ng-template kendoGridCellTemplate let-item>
      <div class="short-grid-name-icon">
        <p class="short-grid-program-name">{{ item.program.name }}</p>

        @if (item.registrationIsProgress) {
          <vet-icon icon="checkProgram" class="short-grid-icon" />
        }
      </div>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    [title]="'shorts.institution' | transloco"
    field="program.organisation.name"
    [width]="200"
  />

  <kendo-grid-column
    [title]="'shorts.implementation_location' | transloco"
    field="program.organisation.address"
    [width]="150"
  />

  <kendo-grid-column
    [title]="'shorts.registration_period' | transloco"
    [width]="150"
  >
    <ng-template kendoGridCellTemplate let-item>
      {{ item.registration_start_date | formatDate }} - {{ item.registration_end_date | formatDate }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    [title]="'shorts.tuition_start_date' | transloco"
    [width]="150"
  >
    <ng-template kendoGridCellTemplate let-item>
      {{ item.study_start_date | formatDate }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column [width]="56" [title]="'programs.selection' | transloco">
    <ng-template kendoGridCellTemplate let-item>
      <div class="short-grid-action-buttons">
        <button
          kendoButton
          type="button"
          fillMode="flat"
          class="short-grid-action-button"
          (click)="onPreviewProgram(item)"
        >
          <kendo-svg-icon [size]="'medium'" [icon]="vetIcons.eye" themeColor="warning" />
        </button>

        @if (!isProgramSelected(item)) {
          <button
            kendoButton
            type="button"
            fillMode="flat"
            class="short-grid-action-button"
            [disabled]="isSelectionDisabled()"
            (click)="onSelectProgram(item)"
          >
            <kendo-svg-icon [size]="'medium'" [icon]="vetIcons.plusCircleGreen" themeColor="success" />
          </button>
        } @else {
          <button
            kendoButton
            type="button"
            fillMode="flat"
            class="short-grid-action-button"
            (click)="onUnselectProgram(item)"
          >
            <kendo-svg-icon [size]="'medium'" [icon]="vetIcons.minusCircleRed" themeColor="error" />
          </button>
        }
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
