<vet-dialog
  class="vet-dialog"
  [width]="648"
  [height]="548"
  [title]="'programs.filter' | transloco"
  (close)="onClose()"
>
  <ng-container content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div vet-container>
        <div vet-row>
          <div vet-line gap-wide>
            <vet-switch
              formControlName="current"
              icon="currentIcon"
              [label]="'shorts.current' | transloco"
            />

            <vet-switch
              formControlName="planned"
              icon="scheduleIcon"
              [label]="'shorts.planned' | transloco"
            />
          </div>
        </div>

        <div vet-row>
          <vet-input
            formControlName="search"
            trailingIcon="search"
            [placeholder]="'shorts.search' | transloco"
          />
        </div>

        <div vet-row>
          <vet-selector
            formControlName="region"
            [placeholder]="'shorts.region' | transloco"
            [options]="regionOptions.value()"
          />

          <vet-selector
            formControlName="district"
            [placeholder]="'shorts.district' | transloco"
            [options]="filteredDistricts()"
          />
        </div>

        <div vet-row>
          <vet-selector
            formControlName="organisation_name"
            [placeholder]="'shorts.institution_name' | transloco"
            [options]="institutionOptions.value()"
          />
        </div>

        <div vet-row>
          <vet-input
            formControlName="program_name_or_code"
            [placeholder]="'shorts.program_code_name' | transloco"
          />

          <vet-selector
            formControlName="program_kind"
            [placeholder]="'shorts.program_kind' | transloco"
            [options]="programKindOptions.value()"
          />
        </div>

        <div vet-row>
          <vet-date-picker
            formControlName="start_study"
            [placeholder]="'shorts.tuition_period_start_date' | transloco"
          />

          <vet-date-picker
            formControlName="end_study"
            [placeholder]="'shorts.tuition_period_end_date' | transloco"
          />
        </div>

        <div vet-row>
          <vet-selector
            formControlName="financing_type"
            [placeholder]="'shorts.financing_type' | transloco"
            [options]="financingTypeOptions.value()"
          />

          <vet-selector
            formControlName="partner"
            [placeholder]="'shorts.partners' | transloco"
            [options]="partnerOptions.value()"
          />
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container actions>
    <div vet-row space-between>
      <vet-button
        mode="flat"
        variant="error"
        leadingIcon="closeX"
        iconSize="tiny"
        (click)="onClearClick()"
      >
        {{ 'shorts.clear_filters' | transloco }}
      </vet-button>

      <vet-button
        type="submit"
        [disabled]="foundResultsCount.isLoading()"
        (click)="onSubmit()"
      >
        @if (foundResultsCount.hasValue() === null) {
          {{ 'shorts.search_filters' | transloco }}
        } @else if (foundResultsCount.isLoading()) {
          {{ 'shorts.search_filters_pending' | transloco }}
        } @else {
          {{ 'shorts.search_found' | transloco : { found: foundResultsCount.value() } }}
        }
      </vet-button>
    </div>
  </ng-container>
</vet-dialog>
