@use '@vet/shared-styles' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: $white;
  border-radius: 1.25rem;
  gap: 1.25rem;
}

.no-records-template {
  border: 1px solid $kendo-color-body-light;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
