$block: '.vet-navbar-menu';

#{$block} {
  &__items-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    height: 100%;
  }

  &__list-item {
    display: flex;
    align-items: center;

    height: 100%;

    cursor: pointer;

    &-separator {
      display: flex;
      height: 1.5rem;

      &:before {
        display: block;
        content: '';

        width: 0.05rem;
        height: 100%;

        border-radius: 0.15rem;
        background-color: white;
      }
    }
  }
}

vet-navbar-menu {
  height: 100%;
}

vet-navbar-menu > ul.vet-navbar-menu__items-list {
  height: 100%;
}

vet-navbar-menu > ul.vet-navbar-menu__items-list > li[vet-navbar-menu-item] {
  position: relative;
  height: 100%;

  display: flex;
  align-items: center;

  > ul.vet-navbar-menu-item__list {
    display: none;
  }

  > ul.vet-navbar-menu-item__list
    > li.vet-navbar-menu-item__list-item
    > ul.vet-navbar-menu-item__list {
    padding: 0 1rem;
  }

  &:hover {
    > ul.vet-navbar-menu-item__list {
      display: block;
      position: absolute;
      top: 6rem;
      right: 0;

      width: 30rem;
      padding: 1.4rem;

      background-color: white;
      border-radius: 1rem;
      color: black;
      z-index: 1;
    }
  }
}

vet-navbar-menu
  > ul.vet-navbar-menu__items-list
  > li[vet-navbar-menu-item]
  > a.vet-navbar-menu-item__slug {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.4rem;
}
