@if (selectedPrograms.isLoading()) {
  <div>{{ 'programs.loading' | transloco }}</div>
} @else {
  @if (selectedPrograms.value(); as _selectedPrograms) {
    <kendo-grid [data]="_selectedPrograms" class="k-rounded-2.5">
      <kendo-grid-column [width]="250" [title]="'programs.program_name' | transloco">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.program.program_name }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="200" [title]="'programs.form' | transloco">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.program.qualification_name }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="70" [title]="'programs.level' | transloco">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.program.education_level }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="250" [title]="'programs.institution_name' | transloco">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.program.organisation.name }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        [width]="250"
        field="organisation.address"
        [title]="'programs.implementation_location' | transloco"
      >
        <ng-template kendoGridCellTemplate let-item>
          {{ item.program.organisation.address }}
        </ng-template>
      </kendo-grid-column>

      @if (mode() === 'edit') {
        <kendo-grid-column [width]="100" [title]="'programs.selection' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <div class="k-display-flex k-align-items-center k-gap-0.5">
              <button kendoButton fillMode="flat" [svgIcon]="vetIcons.eye"></button>

              <button
                kendoButton
                fillMode="flat"
                [svgIcon]="kendoIcons.minusOutlineIcon"
                (click)="onDeleteClick(item)"
              ></button>
            </div>
          </ng-template>
        </kendo-grid-column>
      }
    </kendo-grid>
  }
}
