@if (form(); as form) {
  <form vet-container gap-s [formGroup]="form">
    <div vet-container gap-s>
      <div vet-row gap-wide>
        <label vet-line>
          <input
            type="radio"
            formControlName="citizenship"
            [value]="citizenship.Georgian"
            (change)="onRadioChange(true, citizenship.Georgian)"
            class="vet-radio"
          />
          <span>{{ 'auth.georgian_citizen' | transloco }}</span>
        </label>

        <label vet-line>
          <input
            type="radio"
            formControlName="citizenship"
            [value]="citizenship.Foreigner"
            (change)="onRadioChange(true, citizenship.Foreigner)"
            class="vet-radio"
          />
          <span>{{ 'auth.other_citizen' | transloco }}</span>
        </label>
      </div>

      @if (isWarningVisible()) {
        <div vet-line align-center class="vet-error-message">
          <vet-icon icon="infoWarning" />
          <span>{{ 'auth.choose_one' | transloco }}</span>
        </div>
      }
    </div>
  </form>
}
