@if (form(); as form) {
    <div class="k-display-flex k-gap-10 k-flex-column">
        <div>
            <form class="k-display-flex k-flex-column k-gap-10" [formGroup]="form">
                <div class="k-display-flex k-gap-10">
                    <div class="k-display-flex k-align-items-center k-gap-3">
                        <kendo-radiobutton #georgian formControlName="citizenship" value="1"></kendo-radiobutton>
                        <kendo-label [for]="georgian" [text]="'auth.georgian_citizen' | transloco">
                            @if (form.controls['citizenship']; as control) {
                                @if (!control.untouched) {
                                    @if (control.errors?.['required']) {
                                        <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                                    }
                                }
                            }
                        </kendo-label>
                    </div>

                    <div class="k-display-flex k-align-items-center k-gap-3">
                        <kendo-radiobutton #foreigner formControlName="citizenship" value="2"></kendo-radiobutton>
                        <kendo-label [for]="foreigner" [text]="'auth.other_citizen' | transloco">
                            @if (form.controls['citizenship']; as control) {
                                @if (!control.untouched) {
                                    @if (control.errors?.['required']) {
                                        <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                                    }
                                }
                            }
                        </kendo-label>
                    </div>
                </div>

                <div class="k-display-flex k-justify-content-end">
                    <button kendoButton themeColor="primary" (click)="onNextClick()">
                        {{ 'auth.next' | transloco }}
                    </button>
                </div>
            </form>
        </div>
    </div>
}
