@if (form(); as form) {
  <div class="k-display-flex k-gap-10 k-flex-column">
    <div>
      <form class="k-display-flex k-flex-column k-gap-10" [formGroup]="form">
        <div>
          <div class="k-display-flex k-gap-10">
            <div class="k-display-flex k-align-items-center k-gap-3">
              <kendo-radiobutton
                #georgian
                formControlName="citizenship"
                [value]="citizenship.Georgian"
                (checkedChange)="onRadioChange($event, citizenship.Georgian)"
              />
              <kendo-label [for]="georgian" [text]="'auth.georgian_citizen' | transloco" />
            </div>

            <div class="k-display-flex k-align-items-center k-gap-3">
              <kendo-radiobutton
                #foreigner
                formControlName="citizenship"
                [value]="citizenship.Foreigner"
                (checkedChange)="onRadioChange($event, citizenship.Foreigner)"
              />
              <kendo-label [for]="foreigner" [text]="'auth.other_citizen' | transloco" />
            </div>
          </div>

          @if (isWarningVisible()) {
            <div class="k-text-error k-display-flex k-gap-2 k-font-size-sm k-mt-2">
              <kendo-svg-icon [icon]="kendoIcons.warningCircleIcon" [size]="'small'" />
              <p>{{ 'auth.choose_one' | transloco }}</p>
            </div>
          }
        </div>

        <div class="k-display-flex k-justify-content-end">
          <button kendoButton themeColor="primary" (click)="onNextClick()">
            {{ 'auth.next' | transloco }}
          </button>
        </div>
      </form>
    </div>
  </div>
}