<div class="k-display-flex k-flex-column k-gap-10">
  <vet-program-selection-filters (filtersChange)="onFiltersChange($event)" />

  <div class="k-display-flex k-gap-10 k-flex-column">
    <div class="responsive-grid-container">
      <kendo-grid
        [loading]="eligiblePrograms$.isLoading()"
        [data]="eligiblePrograms$.value()?.data || []"
        [skip]="0"
        [pageable]="true"
        [pageSize]="eligiblePrograms$.value()?.meta?.per_page"
        (dataStateChange)="handlePageChange($event)"
      >
        <ng-template kendoGridNoRecordsTemplate>
          @if (eligiblePrograms$.error()) {
            <!-- Optionally handle error display here -->
          } @else {
            <!-- Message when no records are available -->
          }
        </ng-template>

        <kendo-grid-column
          [width]="200"
          field="program_name"
          [title]="'programs.program_name' | transloco"
        />

        <kendo-grid-column
          [width]="220"
          field="program_kind.name"
          [title]="'programs.form' | transloco"
        />

        <kendo-grid-column
          [width]="60"
          field="education_level"
          [title]="'programs.level' | transloco"
        />

        <kendo-grid-column
          [width]="250"
          field="organisation.name"
          [title]="'programs.institution_name' | transloco"
        />

        <kendo-grid-column
          [width]="250"
          field="organisation.address"
          [title]="'programs.implementation_location' | transloco"
        />

        <kendo-grid-column [width]="100" [title]="'programs.selection' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <div class="k-display-flex k-align-items-center k-gap-0.5">
              <button
                kendoButton
                fillMode="flat"
                [svgIcon]="vetIcons.eye"
                (click)="onPreviewProgramClick(item)"
              ></button>
              <button
                kendoButton
                fillMode="flat"
                [disabled]="!selectedPrograms().includes(item.program_id) && isAddButtonDisabled(item)"
                (click)="toggleProgramSelection(item)"
              >
                @if (selectedPrograms().includes(item.program_id)) {
                  <kendo-svg-icon
                    [icon]="vetIcons.minusCircled"
                    themeColor="warning"
                  />
                } @else {
                  <kendo-svg-icon
                    [icon]="vetIcons.plusCircled"
                    themeColor="success"
                  />
                }
              </button>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>

    <div class="k-display-flex k-justify-content-between">
      <button kendoButton themeColor="secondary" type="button" (click)="onPreviousClick()">
        {{ 'auth.back' | transloco }}
      </button>
      <button kendoButton themeColor="primary" type="button" (click)="onNextClick()">
        {{ 'auth.next' | transloco }}
      </button>
    </div>
  </div>
</div>

@if (isProgramDialogOpen()) {
  <kendo-dialog
    width="90%"
    height="90%"
    [title]="'programs.program_description' | transloco"
    (close)="onCloseClick()"
  >
    <vet-program [programId]="singleProgramId()" />
  </kendo-dialog>
}

@if (isInfoDialogOpen()) {
  <kendo-dialog
    [width]="474"
    [height]="150"
    [title]="'programs.warning' | transloco"
    (close)="onCloseClick()"
  >
    {{ infoDialogText() | transloco }}
  </kendo-dialog>
}
