//@import 'backup/tokens';
@import 'tokens';
@import 'variables';
@import 'mixins';

$prefix: 'k';
$colors: (
  'surface': $tb-kendo-color-surface,
  'paper-dark': $kendo-paper-dark,
  'primary': $kendo-color-primary,
  'primary-light': $kendo-color-primary-light,
  'primary-extra-light': $kendo-color-primary-extra-light,
  'primary-extra-dark': $kendo-color-primary-extra-dark,
  'secondary': $kendo-color-secondary,
  'tertiary': $kendo-color-tertiary,
  'info': $kendo-color-info,
  'hint': $kendo-color-hint,
  'chip': $kendo-color-chip,
  'body-light': $kendo-color-body-light,
  'body': $kendo-color-body,
  'body-dark': $kendo-color-body-dark,
  'body-extra-dark': $kendo-color-body-extra-dark,
  'link': $kendo-color-link,
  'card-border': $kendo-color-card-border,
  'divider': $kendo-color-divider,
  'divider-light': $kendo-color-divider-light,
  'button-light': $kendo-button-light,
  'button-light-contrast': $kendo-button-light-contrast,
);
$widths: (
  'desktop': $vet-layout-width-desktop,
  'mobile': $vet-layout-width-mobile,
);
$measurements: (
  '1': 4px,
  '2': 8px,
  '2\\.5': 10px,
  '3': '12px',
  '3\\.5': '14px',
  '4': '16px',
  '4\\.5': '18px',
  '5': 20px,
  '10\\.5': 42px,
);

@each $name, $value in $measurements {
  .#{$prefix}-rounded-#{$name} {
    border-radius: $value;
  }

  .#{$prefix}-rounded-tl-#{$name} {
    border-top-left-radius: $value;
  }

  .#{$prefix}-rounded-bl-#{$name} {
    border-bottom-left-radius: $value;
  }

  .#{$prefix}-rounded-tr-#{$name} {
    border-top-right-radius: $value;
  }

  .#{$prefix}-rounded-br-#{$name} {
    border-bottom-right-radius: $value;
  }

  .#{$prefix}-rounded-t-#{$name} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .#{$prefix}-rounded-b-#{$name} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .#{$prefix}-rounded-l-#{$name} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }

  .#{$prefix}-rounded-r-#{$name} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }
}

@each $name, $value in $widths {
  .#{$prefix}-width-#{$name} {
    width: $value;
  }
  .#{$prefix}-w-#{$name} {
    width: $value;
  }

  .#{$prefix}-height-#{$name} {
    height: $value;
  }
  .#{$prefix}-h-#{$name} {
    height: $value;
  }
}

@media (max-width: $vet-layout-width-mobile) {
  @each $name, $value in $widths {
    .mobile:#{$prefix}-width-#{$name} {
      width: $value;
    }
  }
}

@each $name, $value in $colors {
  .#{$prefix}-border-#{$name} {
    border-color: $value;
  }
}

@each $name, $value in $colors {
  .#{$prefix}-bg-#{$name} {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .#{$prefix}-color-#{$name} {
    color: $value;
  }
}

@each $name, $value in $colors {
  .hover\:#{$prefix}-bg-#{$name}:hover {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .hover\:#{$prefix}-color-#{$name}:hover {
    color: $value;
  }
}

@each $name, $value in $colors {
  .focus\:#{$prefix}-bg-#{$name}:focus {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .focus\:#{$prefix}-color-#{$name}:focus {
    color: $value;
  }
}

.k-text-xs {
  @include text-base();
}

.k-text-sm {
  @include text-sm();
}

.k-text-base {
  @include text-base();
}

.k-text-md {
  @include text-md();
}

.k-text-h3 {
  @include text-h3();
}

.k-text-h2 {
  @include text-h2();
}

.k-text-h1 {
  @include text-h1();
}

.k-text-lg {
  @include text-lg();
}

.k-text-xxl {
  @include text-xxl();
}

@function max-rows() {
  @return 20;
}

@mixin zebra-rows($columns, $rowCount) {
  @for $r from 1 through $rowCount {
    @if $r == 1 {
    } @else {
      @if ($r % 2) == 0 {
        @for $c from 1 through $columns {
          .k-grid-cell:not(.k-grid-header):nth-child(#{ ($r - 1) * $columns + $c }) {
            background-color: #f4f7f9;
            padding-left: 2rem;
          }
        }
      } @else {
        @for $c from 1 through $columns {
          .k-grid-cell:not(.k-grid-header):nth-child(#{ ($r - 1) * $columns + $c }) {
            background-color: #fff;
            padding-left: 2rem;
          }
        }
      }
    }
  }
}

input::-moz-placeholder,
.k-picker::-moz-placeholder,
.k-picker::-moz-placeholder, {
  color: $kendo-color-body !important;
  opacity: 1 !important;
  font-family: HelveticaNeue !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-underline-position: from-font !important;
  text-decoration-skip-ink: none !important;
}

input::placeholder,
.k-input::placeholder,
.k-picker::placeholder {
  color: $kendo-color-body !important;
  opacity: 1 !important;
  font-family: HelveticaNeue !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-underline-position: from-font !important;
  text-decoration-skip-ink: none !important;
}

kendo-label {
  @include text-base();
  color: $kendo-color-body;
}

kendo-svg-icon.tiny {
  display: block !important;
  width: 4px !important;

  svg {
    width: 4px !important;
    height: 8px !important;
  }
}

kendo-svg-icon.medium {
  display: block !important;
  width: 22px;
  height: 22px !important;

  svg {
    height: 100% !important;
  }
}

kendo-svg-icon.large {
  display: block !important;
  width: 46px !important;
  height: 46px !important;

  svg {
    height: 46px !important;
  }
}

.k-anchor-reset {
  @include anchor-reset();
}

ul.k-list-style-circle {
  list-style: circle;
}

//.k-grid-table {
//  display: grid;
//  //border: 1px solid var(--kendo-color-border);
//
//  .k-grid-cell {
//    padding: 0.75rem 1rem;
//    //border-style: solid;
//    //border-color: var(--kendo-color-border);
//    //border-width: 0;
//    //border-right-width: 1px;
//    //border-bottom-width: 1px;
//    font-family: HelveticaNeue;
//    font-size: 12px;
//    font-weight: 400;
//    line-height: 16px;
//    text-align: left;
//    text-underline-position: from-font;
//    text-decoration-skip-ink: none;
//
//    &.k-grid-header {
//      background-color: #ffffff;
//      margin-bottom: 1.25rem;
//      font-family: HelveticaNeueMedium;
//      font-weight: 500;
//      line-height: 14.65px;
//      border-radius: 0.25rem;
//      border: 1px solid var(--kendo-button-border);
//
//      &:not(:first-child) {
//        margin-left: 1.25rem;
//      }
//    }
//
//    //&:last-child {
//    //  border-right: none;
//    //}
//  }
//
//  &.k-grid-dense {
//    .k-grid-cell {
//      padding: 0.625rem;
//    }
//  }
//
//  @for $i from 1 through 20 {
//    &.k-grid-size-#{$i} {
//      grid-template-columns: repeat(#{$i}, 1fr);
//
//      //.k-grid-cell {
//      //  &:nth-child(#{$i}n) {
//      //    border-right: none;
//      //  }
//      //
//      //  &:nth-last-child(-n+#{$i}) {
//      //    border-bottom: none;
//      //  }
//      //}
//
//      @include zebra-rows($i, max-rows());
//    }
//  }
//}
