//@import 'backup/tokens';
@import 'tokens';
@import 'variables';
@import 'mixins';

$prefix: 'k';
$colors: (
  'surface': $tb-kendo-color-surface,
  'paper-dark': $kendo-paper-dark,
  'primary': $kendo-color-primary,
  'primary-light': $kendo-color-primary-light,
  'primary-extra-light': $kendo-color-primary-extra-light,
  'primary-extra-dark': $kendo-color-primary-extra-dark,
  'secondary': $kendo-color-secondary,
  'tertiary': $kendo-color-tertiary,
  'info': $kendo-color-info,
  'hint': $kendo-color-hint,
  'chip': $kendo-color-chip,
  'body-light': $kendo-color-body-light,
  'body': $kendo-color-body,
  'body-dark': $kendo-color-body-dark,
  'body-extra-dark': $kendo-color-body-extra-dark,
  'link': $kendo-color-link,
  'card-border': $kendo-color-card-border,
  'divider': $kendo-color-divider,
  'divider-light': $kendo-color-divider-light,
  'button-light': $kendo-button-light,
  'button-light-contrast': $kendo-button-light-contrast,
  'border-alt': $kendo-color-border-alt,
);
$widths: (
  'desktop': $vet-layout-width-desktop,
  'mobile': $vet-layout-width-mobile,
);
$measurements: (
  '1': 4px,
  '2': 8px,
  '2\\.5': 10px,
  '3': '12px',
  '3\\.5': '14px',
  '4': '16px',
  '4\\.5': '18px',
  '5': 20px,
  '10\\.5': 42px,
);

@each $name, $value in $measurements {
  .#{$prefix}-rounded-#{$name} {
    border-radius: $value;
  }

  .#{$prefix}-rounded-tl-#{$name} {
    border-top-left-radius: $value;
  }

  .#{$prefix}-rounded-bl-#{$name} {
    border-bottom-left-radius: $value;
  }

  .#{$prefix}-rounded-tr-#{$name} {
    border-top-right-radius: $value;
  }

  .#{$prefix}-rounded-br-#{$name} {
    border-bottom-right-radius: $value;
  }

  .#{$prefix}-rounded-t-#{$name} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .#{$prefix}-rounded-b-#{$name} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .#{$prefix}-rounded-l-#{$name} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }

  .#{$prefix}-rounded-r-#{$name} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }
}

@each $name, $value in $widths {
  .#{$prefix}-width-#{$name} {
    width: $value;
  }
  .#{$prefix}-w-#{$name} {
    width: $value;
  }

  .#{$prefix}-height-#{$name} {
    height: $value;
  }
  .#{$prefix}-h-#{$name} {
    height: $value;
  }
}

@media (max-width: $vet-layout-width-mobile) {
  @each $name, $value in $widths {
    .mobile:#{$prefix}-width-#{$name} {
      width: $value;
    }
  }
}

@each $name, $value in $colors {
  .#{$prefix}-border-#{$name} {
    border-color: $value;
  }
}

@each $name, $value in $colors {
  .#{$prefix}-bg-#{$name} {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .#{$prefix}-color-#{$name} {
    color: $value;
  }
}

@each $name, $value in $colors {
  .hover\:#{$prefix}-bg-#{$name}:hover {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .hover\:#{$prefix}-color-#{$name}:hover {
    color: $value;
  }
}

@each $name, $value in $colors {
  .focus\:#{$prefix}-bg-#{$name}:focus {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .focus\:#{$prefix}-color-#{$name}:focus {
    color: $value;
  }
}

.k-text-xs {
  @include text-base();
}

.k-text-sm {
  @include text-sm();
}

.k-text-base {
  @include text-base();
}

.k-text-md {
  @include text-md();
}

.k-text-h3 {
  @include text-h3();
}

.k-text-h2 {
  @include text-h2();
}

.k-text-h1 {
  @include text-h1();
}

.k-text-lg {
  @include text-lg();
}

.k-text-xxl {
  @include text-xxl();
}

@function max-rows() {
  @return 20;
}

@mixin zebra-rows($columns, $rowCount) {
  @for $r from 1 through $rowCount {
    @if $r == 1 {
    } @else {
      @if ($r % 2) == 0 {
        @for $c from 1 through $columns {
          .k-grid-cell:not(.k-grid-header):nth-child(#{ ($r - 1) * $columns + $c }) {
            background-color: #f4f7f9;
            padding-left: 2rem;
          }
        }
      } @else {
        @for $c from 1 through $columns {
          .k-grid-cell:not(.k-grid-header):nth-child(#{ ($r - 1) * $columns + $c }) {
            background-color: #fff;
            padding-left: 2rem;
          }
        }
      }
    }
  }
}

kendo-label {
  @include text-base();
  color: $kendo-color-body;
}

.k-anchor-reset {
  @include anchor-reset();
}

ul.k-list-style-circle {
  list-style: circle;
}
