@function imp($important: false) {
  @if($important) {
    @return !important;
  } @else {
    @return null;
  }
}

@mixin text-shared-properties($bold: false, $important: false) {
  text-underline-position: from-font imp($important);
  text-decoration-skip-ink: none imp($important);

  @if ($bold) {
    font-weight: 500 imp($important);
    font-family: HelveticaNeueMedium imp($important);
  } @else {
    font-family: HelveticaNeue imp($important);
    font-weight: 400 imp($important);

    &strong,
    &b,
    strong,
    b {
      font-weight: 500 imp($important);
      font-family: HelveticaNeueMedium imp($important);
    }
  }
}

@mixin text-xs($bold: false, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 0.6875rem imp($important);
  line-height: 0.8125rem imp($important);
}

@mixin text-sm($bold: false, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 0.75rem imp($important);
  line-height: 0.90625rem imp($important);

  // bold line-height: 1.25rem imp($important);
}

@mixin text-base($bold: false, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 0.875rem imp($important);
  line-height: 1.5rem imp($important);
}

@mixin text-md($bold: false, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 1rem imp($important);
  line-height: 1.25rem imp($important);
}

@mixin text-h3($bold: false, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 1rem imp($important);
  font-weight: 500;
  line-height: 1.375rem imp($important);
}

@mixin text-h2($bold: true, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 1.125rem imp($important);
  line-height: 1.375rem imp($important);
}

@mixin text-h1($bold: true, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 1.25rem imp($important);
  line-height: 1.375rem imp($important);
}

@mixin text-lg($bold: true, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 1.5rem imp($important);
  line-height: 1.875rem imp($important);
}

@mixin text-xxl($bold: true, $important: false) {
  @include text-shared-properties($bold, $important);
  font-size: 1.875rem imp($important);
  line-height: 2.2875rem imp($important);
}

@mixin anchor-reset() {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

@mixin rounded($value) {
  border-radius: $value;
}

@mixin rounded-left($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin rounded-right($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin rounded-top-left($value) {
  border-top-left-radius: $value;
}

@mixin rounded-bottom-left($value) {
  border-bottom-left-radius: $value;
}

@mixin rounded-top-right($value) {
  border-top-right-radius: $value;
}

@mixin rounded-bottom-right($value) {
  border-bottom-right-radius: $value;
}
