@mixin text-shared-properties($bold: false) {
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @if ($bold) {
    font-weight: 500;
    font-family: HelveticaNeueMedium;
  } @else {
    font-family: HelveticaNeue;
    font-weight: 400;

    &strong,
    &b,
    strong,
    b {
      font-weight: 500;
      font-family: HelveticaNeueMedium;
    }
  }
}

@mixin text-xs($bold: false) {
  @include text-shared-properties($bold);
  font-size: 11px;
  line-height: 13px;
}

@mixin text-sm($bold: false) {
  @include text-shared-properties($bold);
  font-size: 12px;
  line-height: 14.5px;

  // bold line-height: 20px;
}

@mixin text-base($bold: false) {
  @include text-shared-properties($bold);
  font-size: 14px;
  line-height: 24px;
}

@mixin text-md($bold: false) {
  @include text-shared-properties($bold);
  font-size: 16px;
  line-height: 20px;
}

@mixin text-h3($bold: false) {
  @include text-shared-properties($bold);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@mixin text-h2($bold: true) {
  @include text-shared-properties($bold);
  font-size: 18px;
  line-height: 22px;
}

@mixin text-h1($bold: true) {
  @include text-shared-properties($bold);
  font-size: 20px;
  line-height: 22px;
}

@mixin text-lg($bold: true) {
  @include text-shared-properties($bold);
  font-size: 24px;
  line-height: 30px;
}

@mixin text-xxl($bold: true) {
  @include text-shared-properties($bold);
  font-size: 30px;
  line-height: 36.6px;
}

@mixin anchor-reset() {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

@mixin rounded($value) {
  border-radius: $value;
}

@mixin rounded-left($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin rounded-right($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin rounded-top-left($value) {
  border-top-left-radius: $value;
}

@mixin rounded-bottom-left($value) {
  border-bottom-left-radius: $value;
}

@mixin rounded-top-right($value) {
  border-top-right-radius: $value;
}

@mixin rounded-bottom-right($value) {
  border-bottom-right-radius: $value;
}
