@mixin text-shared-properties($bold: false) {
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @if ($bold) {
    font-weight: 500;
    font-family: HelveticaNeueMedium;
  } @else {
    font-family: HelveticaNeue;
    font-weight: 400;

    &strong,
    &b,
    strong,
    b {
      font-weight: 500;
      font-family: HelveticaNeueMedium;
    }
  }
}

@mixin text-xs($bold: false) {
  @include text-shared-properties($bold);
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}

@mixin text-sm($bold: false) {
  @include text-shared-properties($bold);
  font-size: 0.75rem;
  line-height: 0.90625rem;

  // bold line-height: 1.25rem;
}

@mixin text-base($bold: false) {
  @include text-shared-properties($bold);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@mixin text-md($bold: false) {
  @include text-shared-properties($bold);
  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin text-h3($bold: false) {
  @include text-shared-properties($bold);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
}

@mixin text-h2($bold: true) {
  @include text-shared-properties($bold);
  font-size: 1.125rem;
  line-height: 1.375rem;
}

@mixin text-h1($bold: true) {
  @include text-shared-properties($bold);
  font-size: 1.25rem;
  line-height: 1.375rem;
}

@mixin text-lg($bold: true) {
  @include text-shared-properties($bold);
  font-size: 1.5rem;
  line-height: 1.875rem;
}

@mixin text-xxl($bold: true) {
  @include text-shared-properties($bold);
  font-size: 1.875rem;
  line-height: 2.2875rem;
}

@mixin anchor-reset() {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

@mixin rounded($value) {
  border-radius: $value;
}

@mixin rounded-left($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin rounded-right($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin rounded-top-left($value) {
  border-top-left-radius: $value;
}

@mixin rounded-bottom-left($value) {
  border-bottom-left-radius: $value;
}

@mixin rounded-top-right($value) {
  border-top-right-radius: $value;
}

@mixin rounded-bottom-right($value) {
  border-bottom-right-radius: $value;
}
