// Compatible with @progress/kendo-theme-bootstrap v.10.2.0

@use '@progress/kendo-theme-bootstrap/scss/index.scss' as *;
@use 'tokens' as *;

@mixin tb-overrides {
                      .k-button.k-button-solid-secondary{
        color: k-color( primary );
          
}
                      .k-button.k-hover.k-button-outline.k-button-outline-primary,.k-button.k-state-hover.k-button-outline.k-button-outline-primary,.k-button.k-state-hovered.k-button-outline.k-button-outline-primary,.k-button:hover.k-button-outline.k-button-outline-primary{
        background-color: $tb-kendo-breadcrumb-current-item-text;
            background-image: none;
            color: k-color( primary-on-surface );
          
}
                      .k-button.k-active.k-button-outline.k-button-outline-primary,.k-button.k-state-active.k-button-outline.k-button-outline-primary,.k-button:active.k-button-outline.k-button-outline-primary{
        background-color: $tb-kendo-breadcrumb-current-item-text;
            background-image: none;
            color: k-color( primary-on-surface );
          
}
                      .k-button.k-focus.k-button-outline.k-button-outline-primary,.k-button.k-state-focus.k-button-outline.k-button-outline-primary,.k-button.k-state-focused.k-button-outline.k-button-outline-primary,.k-button:focus.k-button-outline.k-button-outline-primary{
        background-color: $tb-kendo-breadcrumb-current-item-text;
            background-image: none;
          
}
                      .k-dropdownlist.k-picker-solid{
        background-color: initial;
            background-image: none;
          
}
                      .k-dropdowntree.k-picker-solid{
        background-color: initial;
            background-image: none;
          
}
                      .k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-alt.k-table-alt-row{
        background-color: initial;
            background-image: none;
          
}
                      .k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-hover,.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-state-hover,.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-state-hovered,.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row:hover{
        background-color: initial;
            background-image: none;
          
}
                      .k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-hover >td,.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-state-hover >td,.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row.k-state-hovered >td,.k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row:hover >td{
        background-color: $tb-kendo-base-bg;
            background-image: none;
          
}
                      .k-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items.k-reset.k-tabstrip-items-start .k-item.k-tabstrip-item.k-active,.k-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items.k-reset.k-tabstrip-items-start .k-item.k-tabstrip-item.k-state-active,.k-tabstrip .k-tabstrip-items-wrapper .k-tabstrip-items.k-reset.k-tabstrip-items-start .k-item.k-tabstrip-item:active{
        font-weight: 400;
          
}
                      .k-grid.k-grid-md .k-table .k-table-tbody .k-master-row.k-table-row >td{
        border-top-color: $tb-kendo-table-border;
            border-top-style: solid;
            border-top-width: 1px;
            padding-bottom: 12px;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 12px;
          
}
                      .k-grid.k-grid-md .k-grid-header{
        border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          
}
                      .k-grid.k-grid-md .k-table-thead .k-table-row .k-header.k-table-th .k-cell-inner .k-link .k-column-title,.k-grid.k-grid-md .k-grid-header .k-table-row .k-header.k-table-th .k-cell-inner .k-link .k-column-title{
        color: $tb-kendo-base-text;
          
}
                      .k-button.k-button-md{
        padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 8px;
          
}
                      .k-appbar.k-appbar-light{
        background-color: $tb-header-bg;
            background-image: none;
            color: $tb-kendo-appbar-dark-text;
          
}
                      .k-textbox.k-input{
        padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
          
}
                      .k-numerictextbox.k-input{
        padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
          
}
                      .k-maskedtextbox.k-input{
        padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
          
}
                      input.k-input{
        padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
          
}
      }