// Compatible with @progress/kendo-theme-bootstrap v.10.2.0

$tb-kendo-color-surface: #f3f4f7;
$tb-kendo-color-on-app-surface: #2f2f2fff;
$tb-kendo-color-border: rgba(33, 37, 41, 0.13);
$tb-kendo-color-primary: #4CAEE8;
$tb-kendo-color-on-dark: #ffffff;
$tb-kendo-color-primary-hover: #89CAF1;
$tb-kendo-color-secondary: #EAF0FF;
$tb-kendo-color-primary-active: #3e8ebeff;
$tb-kendo-color-primary-subtle: #addafeff;
$tb-header-bg: #4682b4;
$tb-bg-color: #F5F7F8;
$tb-kendo-color-primary-subtle-hover: #99c6eaff;
$tb-kendo-color-primary-subtle-active: #8bb6d8ff;
$tb-kendo-color-primary-on-surface: #4CAEE8;
$tb-kendo-color-secondary-hover: #e6ebfbff;
$tb-kendo-color-secondary-active: #dfe5f8ff;
$tb-kendo-color-tertiary-subtle: #f3f2f2ff;
$tb-kendo-color-tertiary-subtle-hover: #ebebebff;
$tb-kendo-color-tertiary-subtle-active: #ddddddff;
$tb-kendo-color-tertiary: #e0e0e0;
$tb-kendo-color-tertiary-hover: #c8c8c8ff;
$tb-kendo-color-tertiary-active: #bbbbbbff;
$tb-kendo-color-tertiary-emphasis: #a2a1a366;
$tb-kendo-color-tertiary-on-subtle: #777777ff;
$tb-kendo-color-tertiary-on-surface: #b6b6b6ff;
$tb-kendo-base-bg: $tb-kendo-color-surface;
$tb-kendo-base-text: $tb-kendo-color-on-app-surface;
$tb-kendo-appbar-dark-text: $tb-kendo-color-on-dark;
$tb-kendo-breadcrumb-current-item-text: $tb-kendo-color-secondary;
$tb-kendo-component-border: $tb-kendo-color-border;
$tb-kendo-table-border: $tb-kendo-component-border;


    $tb-kendo-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    $tb-kendo-font-size: 1rem;
    $tb-kendo-font-weight-normal: 400;
    $tb-kendo-line-height: 1.5;
    $enable-gradients: true;

$tb-typography: (
  kendo-default-typography: (
      font-family: 'system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
      font-size: 1rem,
      font-weight: 400,
      line-height: 1.5,
        ),
);

@mixin typography-classes ($typography) {
  @each $selector, $property in $typography {
    &-#{$selector} {
      @each $propName, $propValue in $property {
        #{$propName}: #{$propValue};
      }
    } &-#{$selector}-important {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue !important;
      }
    }
  }
}

$tb-effects: (
  tb-internal-none-effects: (
      box-shadow: (none), filter: (none), backdrop-filter: (none),  ),
);

@mixin effects-classes ($effects) {
  @each $selector, $property in $effects {
    &-#{$selector} {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue;
      }
    } &-#{$selector}-important {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue !important;
      }
    }
  }
}

%tb-typography {
  @include typography-classes($tb-typography);
}

%tb-effects {
  @include effects-classes($tb-effects);
}