//@forward 'backup/tokens';
@forward 'tokens';
@use 'tokens' as tokens;

$vet-layout-width-desktop: 92.5rem;
$vet-layout-width-mobile: 48rem;
$vet-sidebar-width-full: 19.0625rem;
$vet-sidebar-width-mini: 5.5rem;

$white: #ffffff;
$kendo-paper-dark: #f5f7f8;
$kendo-color-chip: #f2f3f6;
$kendo-color-primary: tokens.$tb-kendo-color-primary;
$kendo-color-primary-dark: #28a4e3;
$kendo-color-primary-light: #59acd4;
$kendo-color-primary-extra-light: #23d0e8;
$kendo-color-primary-extra-dark: #0e2b43;
$kendo-color-secondary: tokens.$tb-kendo-color-secondary;
$kendo-color-tertiary: tokens.$tb-kendo-color-tertiary;
$kendo-color-info: #0058e9;
$kendo-color-body-light: #b1b7bb;
$kendo-color-body: #626262; // #555454
$kendo-color-body-dark: #444444; // #555454
$kendo-color-body-extra-dark: #292d32;
$kendo-color-link: #2351c9;
$kendo-color-card-border: #e8eaf3;
$kendo-color-divider: #c8c8c8;
$kendo-color-divider-light: #e0e0e0;
$kendo-color-hint: #757575;
$kendo-button-light: #eaeaea;
$kendo-button-light-contrast: #4682b4;
$kendo-color-white: #fff;
$kendo-color-border-alt: #ececec;
$kendo-color-success: #1e9f6f;
$kendo-color-error: #ee4f64;
$kendo-color-info: #2196f3;
$kendo-color-warning: #ffc107;
$kendo-button-light: #eaeaea;
$kendo-button-light-contrast: #4682b4;
$kendo-color-shadow: #0000001a;
$kendo-color-light-gray: #636363;
$kendo-color-border-light-gray: #d9d9d9;
