//@forward 'backup/tokens';
@forward 'tokens';
@use 'tokens' as tokens;

$vet-layout-width-desktop: 92.5rem;
$vet-layout-width-mobile: 48rem;
$vet-sidebar-width-full: 19.0625rem;
$vet-sidebar-width-mini: 5.5rem;

$white: #FFFFFF;
$kendo-paper-dark: #F5F7F8;
$kendo-color-chip: #f2f3f6;
$kendo-color-primary: tokens.$tb-kendo-color-primary;
$kendo-color-primary-light: #59acd4;
$kendo-color-primary-extra-light: #23D0E8;
$kendo-color-primary-extra-dark: #0E2B43;
$kendo-color-secondary: tokens.$tb-kendo-color-secondary;
$kendo-color-tertiary: tokens.$tb-kendo-color-tertiary;
$kendo-color-info: #0058e9;
$kendo-color-body-light: #b1b7bb;
$kendo-color-body: #626262; // #555454
$kendo-color-body-dark: #444444; // #555454
$kendo-color-body-extra-dark: #292D32;
$kendo-color-link: #2351c9;
$kendo-color-card-border: #e8eaf3;
$kendo-color-divider: #c8c8c8;
$kendo-color-divider-light: #E0E0E0;
$kendo-color-hint: #757575;
$kendo-color-border-alt: #ECECEC;
$kendo-color-success: #1e9f6f;
$kendo-color-error: #ee4f64;
$kendo-color-info: #2196F3;
$kendo-color-warning: #FFC107;
$kendo-button-light: #EAEAEA;
$kendo-button-light-contrast: #4682B4;
$kendo-color-shadow: #0000001A;
