@use '@vet/shared-styles' as shared;

:host {
  display: block;
}

.vet-success-box {
  @include shared.text-md();
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid shared.$kendo-color-success;
  display: flex;
  justify-content: center;
  align-items: center;
}

kendo-numerictextbox {
  &.input-valid {
    border-color: shared.$kendo-color-success !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;

    .k-input-inner {
      color: shared.$kendo-color-success;
    }
  }

  &.input-invalid {
    border-color: shared.$kendo-color-error !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;

    .k-input-inner {
      color: shared.$kendo-color-error;
    }
  }

  &.k-input {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .k-input-inner {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}

kendo-numerictextbox:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

kendo-numerictextbox.k-input-md {
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}
