@if (resolvedParams(); as params) {
  <kendo-dialog
    class="vet-confirmation-dialog"
    [title]="params.title ? (params.title | transloco) : ''"
    [width]="dialogWidth"
    (close)="close()"
    [ngClass]="params.variant"
  >
    <div class="dialog-header">
      <button kendoButton class="dialog-close-btn" (click)="close()" aria-label="Close" type="button" fillMode="flat">
        <kendo-svg-icon [icon]="vetIcons.dialogClose" [size]="'xlarge'" />
      </button>
    </div>

    <div class="dialog-content">
      @if (params.variant && params.variant !== 'default') {
        <div class="dialog-icon">
          <kendo-svg-icon [icon]="getIconByVariant(params.variant)" size="xxlarge" />
        </div>
      }

      @if (params.content) {
        <div class="dialog-message">
          <span>{{ params.content | transloco }}</span>
        </div>
      }
    </div>

    <div class="dialog-actions">
      @if (params.showYesNoButtons) {
        <button kendoButton themeColor="secondary" (click)="dismiss()">
          {{ params.dismissButtonText ? (params.dismissButtonText | transloco) : ('shared.no' | transloco) }}
        </button>

        <button kendoButton themeColor="primary" (click)="confirm()">
          {{ params.confirmButtonText ? (params.confirmButtonText | transloco) : ('shared.yes' | transloco) }}
        </button>
      } @else {
        <button kendoButton themeColor="base" (click)="confirm()">
          {{ params.singleTypeDialogActionText ? (params.singleTypeDialogActionText | transloco) : ('shared.met' | transloco) }}
        </button>
      }
    </div>
  </kendo-dialog>
}
