@use '@vet/shared-styles' as shared;

:host {
  display: block;
}

.vet-article {
  color: shared.$kendo-color-body;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 1rem 2rem;
  background-color: shared.$white;
  border-radius: 1.25rem;
  gap: 1.25rem;
  margin-bottom: 9.375rem;
  @include shared.text-base();
}

.vet-collection-item {
  background-color: shared.$white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.625rem;

  @media (max-width: 640px) {
    width: 100%;
    height: auto;
    min-height: 250px;
  }
}

.vet-collection-item-image-container {
  position: relative;
  min-height: 412px;
  padding: 1.25rem;
  border-radius: 0.375rem;
  box-sizing: border-box;

  @media (max-width: 640px) {
    height: 5rem;
    min-height: 5rem;
    margin: 1.25rem;
  }

  img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 0.375rem;

    @media (max-width: 640px) {
      height: 5rem;
    }
  }
}

.vet-collection-item-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid shared.$kendo-color-divider-light;
}

.vet-collection-item-created-at {
  color: shared.$kendo-color-body;
  margin: 0;
  @include shared.text-sm();
}

.vet-collection-item-title {
  line-height: 1.25rem;
  color: shared.$kendo-color-body-extra-dark;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @include shared.text-h3();

  @media (max-width: 640px) {
    @include shared.text-h2();
  }
}

.vet-collection-item-body {
  color: shared.$kendo-color-body;
  flex: 1;
  display: flex;
  flex-direction: column;
  @include shared.text-base();
}
