.v-ui-navbar {
  background-color: var(--nav-bg-color);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 90rem;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      text-decoration: none;

      svg {
        width: 3.75rem;
        height: 1.625rem;
        color: var(--main-bg);
      }

      div:nth-child(2) {
        border-radius: 1.25rem;
        width: 0.125rem;
        height: 1.438rem;
        background-color: var(--nav-link-color);
      }

      div:nth-child(3) {
        width: 11.25rem;
        font-size: 0.875rem;
        color: var(--nav-link-color);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.3rem;

    &-item {
    }

    .k-separator {
      border: 0.5px solid #e0e0e0;
      height: 1.375rem;
      align-self: center;
    }

    &-link {
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--nav-link-color);
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      border-color: var(--light-color);
    }

    button.authorization, button.registration {
      border: none;
    }

    .v-ui-navbar__icon {
      font-size: 1.25rem;
      color: var(--nav-link-color);
    }

    .v-ui-navbar__link {
      font-size: 0.75rem;
      font-weight: 400;
      color: var(--nav-link-color);
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
    padding: 0.875rem;
    border: 1px solid var(--light-color);
    border-radius: 8px;

    &-avatar {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #fff;
    }

    &-name {
      font-size: 0.875rem;
      color: #fff;
      font-weight: 400;
    }
  }

  &__profile-card {
    position: absolute;
    top: 4.25rem;
    right: 7rem;
    width: 18.75rem;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    z-index: 9999;

    .profile-card__header {
      display: flex;
      align-items: center;
      background: #ffffff;
      border-radius: 20px 20px 0 0;
      padding: 1rem;
      gap: 1rem;
      cursor: pointer;

      .profile-card__avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .profile-card__username {
        font-size: 1rem;
        color: #555454;
        font-weight: 400;
      }
    }

    .profile-card__item {
      display: flex;
      align-items: center;
      background: #ffffff;
      padding: 1rem;
      margin-top: 0.5rem;
      border-radius: 2px;
      gap: 0.75rem;
      font-size: 0.875rem;
      color: #555454;
      cursor: pointer;

      kendo-icon {
        width: 1.25rem;
        height: 1.25rem;
        color: #555454;
      }
    }

    .profile-card__logout {
      border-radius: 0 0 20px 20px;
    }
  }
}

@media (max-width: 768px) {
  .v-ui-navbar {
    height: auto;
    padding: 1rem 0;

    &__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      padding: 1rem;
    }

    &__logo {
      a {
        img {
          width: 3rem;
          height: auto;
        }

        div:nth-child(3) {
          width: auto;
          font-size: 0.75rem;
        }
      }
    }

    &__menu {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: 0;

      &-item {
        margin: 0 0 1rem 0;
      }
    }

    &__actions {
      gap: 1rem;
      width: 100%;
      justify-content: flex-start;

      .v-ui-navbar__link {
        font-size: 0.75rem;
      }
    }
  }
}
