<nav class="v-ui-navbar">
  <div class="v-ui-navbar__container">
    <div class="v-ui-navbar__logo">
      <a routerLink="/">
        <img src="/assets/images/evet-logo.svg" width="60" height="26" />
        <div></div>
        <div>{{ 'app.logo_text' | transloco }}</div>
      </a>
    </div>

    @if (!tokenUser$()) {
      <ul class="v-ui-navbar__menu">
        @for (item of pages; track item; let i = $index) {
          <li class="v-ui-navbar__menu-item">
            <a [routerLink]="item.url" class="v-ui-navbar__menu-link k-text-base">
              {{ item.title }}
            </a>
          </li>
          @if (i !== pages.length - 1) {
            <div class="k-separator"></div>
          }
        }
      </ul>
      <div class="k-display-flex k-align-items-center">
        <div class="k-display-flex k-align-items-center">
          <button kendoButton [svgIcon]="vetIcons.searchSmall" fillMode="flat" ></button>
          <button
            kendoButton
            fillMode="flat"
            themeColor="light"
            [svgIcon]="vetIcons.globeSmall"
            (click)="switchLang()"
          >
            <div class="k-text-sm k-ml-2">
              {{ currentLangLabel }}
            </div>
          </button>
        </div>

        <div class="k-display-flex k-align-items-center k-gap-1">
          <button
            class="!k-border-none"
            kendoButton
            themeColor="light"
            fillMode="outline"
            (click)="navigateTo('authorization')"
          >
          <span class="k-text-base">
            {{ 'auth.authorization' | transloco }}
          </span>
          </button>
          <button
            class="!k-border-none k-bg-button-light"
            kendoButton
            themeColor="light"
            fillMode="outline"
            (click)="navigateTo('registration')"
          >
          <span class="k-text-base k-color-button-light-contrast">
            {{ 'auth.registration' | transloco }}
          </span>
          </button>
        </div>
      </div>
    }

    @if (tokenUser$(); as user) {
      <div class="v-ui-navbar__actions">
        <div class="k-display-flex k-align-items-center k-gap-1">
          <button
            kendoButton
            [svgIcon]="kendoIcons.bellIcon"
            fillMode="outline"
            themeColor="light"
          ></button>
          <button
            kendoButton
            fillMode="flat"
            themeColor="light"
            [svgIcon]="vetIcons.globeSmall"
            (click)="switchLang()"
          >
            <div class="k-text-sm k-ml-2">
              {{ currentLangLabel }}
            </div>
          </button>
        </div>

        <div class="v-ui-navbar__profile" (click)="toggleProfileCard()">
          @if (user?.photo) {
            <img [src]="user.photo" alt="User Avatar" class="v-ui-navbar__profile-avatar" />
          } @else {
            <kendo-svg-icon [themeColor]="'light'" [icon]="kendoIcons.userIcon"></kendo-svg-icon>
          }

          <span class="v-ui-navbar__profile-name">
                                {{ tokenUser$()?.name }}
                            </span>

          @if (isProfileCardOpen()) {
            <kendo-svg-icon [themeColor]="'light'" [icon]="kendoIcons.arrowUpIcon"></kendo-svg-icon>
          } @else {
            <kendo-svg-icon
              [themeColor]="'light'"
              [icon]="kendoIcons.arrowDownIcon"
            ></kendo-svg-icon>
          }
        </div>

        @if (isProfileCardOpen()) {
          <div
            class="v-ui-navbar__profile-card"
            (click)="$event.stopPropagation()"
          >
            @for (role of roles$ | async; track role.name; let i = $index) {
              @if (i === 0) {
                <div class="profile-card__header" [routerLink]="'user-profile'">
                  @if (user.photo) {
                    <img [src]="user.photo" alt="Avatar" class="profile-card__avatar" />
                  } @else {
                    <kendo-svg-icon [icon]="kendoIcons.userIcon"></kendo-svg-icon>
                  }
                  <span class="profile-card__username">{{ role.name }}</span>
                </div>
              } @else {
                <div class="profile-card__item">
                  <kendo-svg-icon [icon]="kendoIcons.buildingBlocksIcon"></kendo-svg-icon>
                  {{role.name}}
                </div>
              }
            }

            <div class="profile-card__item profile-card__logout" (click)="logout()">
              <kendo-svg-icon [icon]="kendoIcons.loginIcon"></kendo-svg-icon>
              {{ 'auth.logout' | transloco }}
            </div>
          </div>
        }
      </div>
    }
  </div>
</nav>
