<form class="vet-shorts-general-information-step" [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
  <vet-info
    variant="info"
    [text]="'shorts.registration_warning' | transloco"
  />

  <vet-selector
    formControlName="education_level"
    class="vet-form-input vet-shorts-selector"
    [placeholder]="'shorts.education' | transloco"
    [options]="educationLevels.value()"
  />

  <div class="vet-shorts-step-footer">
    <button
      kendoButton
      class="vet-form-button"
      type="submit"
      themeColor="primary"
      [disabled]="formGroup().invalid"
    >
      {{ 'shorts.continue' | transloco }}
    </button>
  </div>
</form>
