<form class="vet-shorts-general-information-step" [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
  <vet-info
    variant="info"
    [text]="'shorts.registration_warning' | transloco"
  />

  <vet-selector
    formControlName="education_level"
    class="vet-shorts-selector"
    version="fat"
    [placeholder]="'shorts.education' | transloco"
    [options]="educationLevelOptions()"
  />

  <div class="vet-shorts-step-footer">
    <vet-button type="submit" version="fat" [disabled]="formGroup().invalid">
      {{ 'shorts.continue' | transloco }}
    </vet-button>
  </div>
</form>
