@if (form(); as form) {
    <div class="k-display-flex k-gap-10 k-flex-column">
        <form [formGroup]="form">
            <div class="k-display-flex k-flex-column k-gap-10">
                <div class="k-display-flex k-flex-column k-gap-3 k-p-3 k-border-custom">
                    {{ 'auth.terms_and_conditions_information' | transloco }}

                    <div>
                        <kendo-checkbox #chekbox formControlName="accepted"></kendo-checkbox>
                        <kendo-label
                            class="k-checkbox-label"
                            [for]="chekbox"
                            [text]="'auth.read_and_understand_rules' | transloco"
                        ></kendo-label>
                    </div>
                </div>

                <div class="k-display-flex k-justify-content-between">
                    <button kendoButton themeColor="secondary" (click)="onPreviousClick()">
                        {{ 'auth.back' | transloco }}
                    </button>

                    <button kendoButton themeColor="primary" (click)="form.valid && onNextClick()">
                        {{ 'auth.finish' | transloco }}
                    </button>
                </div>
            </div>
        </form>
    </div>
}
