<div class="vet-expandable-sidebar {{ isExpanded() ? 'expanded' : 'collapsed' }}">
  <div class="vet-expandable-sidebar-body-wrapper">
    <div class="vet-expandable-sidebar-body">
      @if (menuCollapsible()) {
        <div class="vet-expandable-sidebar-toggle-container">
          <vet-icon-button
            mode="solid"
            variant="secondary"
            [icon]="isExpanded() ? 'chevronLeft' : 'chevronRight'"
            iconSize="tiny"
            (click)="onToggleExpansion()"
          />
        </div>
      }

      <div class="vet-expandable-sidebar-content">
        <ng-content />
      </div>
    </div>
  </div>
</div>
