:host {
  display: block;

  .programs-filters-container {
    display: flex;
    align-items: end;

    .filter-group {
      display: flex;
      flex-direction: column;
    }

    .filter-3 {
      flex: 3;
    }

    .filter-1 {
      flex: 1;
    }
  }

  .programs-additional-filters-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: end;
    gap: 0.625rem;
    @media (max-width: 50rem) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 37.5rem) {
      grid-template-columns: 1fr;
    }
  }
}
