<div class="k-d-flex k-justify-content-between k-gap-4">
    <div class="stepper-container">
        <kendo-stepper
            [(currentStep)]="currentStep"
            [steps]="steps"
            [stepType]="'full'"
            [orientation]="'vertical'"
            (activate)="onStepChange($event)"
        >
        </kendo-stepper>
    </div>
    <div class="step-content-container">
        {{ currentStep }}
        <div [ngSwitch]="currentStep">
            <!-- Step 1 -->
            <ng-container *ngSwitchCase="0">
                <vet-registration-citizenship
                    [formGroup]="chooseCitizenshipForm"
                    (next)="goToNextStep()"
                ></vet-registration-citizenship>
            </ng-container>

            <!-- Step 2 -->
            <ng-container *ngSwitchCase="1">
                <!-- <form
                    [formGroup]="checkIdentityForm"
                    *ngIf="citizenshipTypeEnum.Georgian === chooseCitizenshipForm.get('citizenship')?.value"
                >
                    <h1>პიროვნების გადამოწმება</h1>
                    <label>
                        პირადი ნომერი:
                        <input formControlName="personalNumber" />
                    </label>
                    <label>
                        გვარი:
                        <input formControlName="lastname" />
                    </label>
                    <button (click)="goToPreviousStep()">უკან დაბრუნება</button>
                    <button (click)="goToNextStep()">გაგრძელება</button>
                </form>
                <form
                    [formGroup]="checkIdentityForeignerForm"
                    *ngIf="citizenshipTypeEnum.Foreigner === chooseCitizenshipForm.get('citizenship')?.value"
                >
                    <h1>პიროვნების გადამოწმება (უცხოელი)</h1>
                    Similar structure for foreigner
                </form> -->
                <vet-registration-identity
                    [citizenship]="chooseCitizenshipForm.get('citizenship')?.getRawValue()"
                    [formGroup]="
                        chooseCitizenshipForm.get('citizenship')?.getRawValue() === citizenshipTypeEnum.Georgian
                            ? checkIdentityForm
                            : checkIdentityForeignerForm
                    "
                ></vet-registration-identity>
            </ng-container>

            <!-- Step 3 -->
            <ng-container *ngSwitchCase="2">
                <vet-registration-phone

                ></vet-registration-phone>
            </ng-container>
        </div>
    </div>
</div>
