@let _isPersonVerified = !!personVerified();

<vet-responsive-stepper
  [steps]="steps()"
  [(currentStep)]="currentStepKey"
  [formGroup]="formGroup"
  (submitForm)="onSubmitForm()"
>
  @switch (currentStepKey()) {
    @case ('chooseCitizenship') {
      <vet-registration-citizenship
        [form]="formGroup.controls.chooseCitizenship"
        (resetForm)="onResetForm($event)"
      />
    }
    @case ('checkIdentity') {
      <vet-registration-identity-citizen
        [generalForm]="formGroup"
        [identityForm]="formGroup.controls.checkIdentity"
        [isPersonVerified]="_isPersonVerified"
        (personVerificationChange)="setPersonVerified($event)"
      />
    }
    @case ('checkIdentityForeigner') {
      <vet-registration-identity-foreigner
        [generalForm]="formGroup"
        [identityForm]="formGroup.controls.checkIdentityForeigner"
        [isPersonVerified]="_isPersonVerified"
        (personVerificationChange)="setPersonVerified($event)"
      />
    }
    @case ('contact') {
      <vet-registration-contact
        [form]="formGroup.controls.contact"
      />
    }
    @case ('termsAndConditions') {
      <vet-registration-terms-and-conditions
        [form]="formGroup.controls.termsAndConditions"
      />
    }
  }
</vet-responsive-stepper>
