@if (form(); as form) {
  <div class="k-display-flex k-gap-10 k-flex-column">
    <div>
      <form class="k-display-flex k-flex-column k-gap-10" [formGroup]="form">
        <div>
          <div class="k-display-flex k-gap-10">
            <div class="vet-admission-table vet-grid-table vet-grid-size-7 vet-grid-dense k-mt-10 k-rounded-t-lg">
              <div class="vet-grid-cell vet-grid-header">
                <b>#</b>
              </div>
              <div class="vet-grid-cell vet-grid-header">
                <b>{{ 'programs.program_name' | transloco }}</b>
              </div>
              <div class="vet-grid-cell vet-grid-header">
                <b>{{ 'programs.implementation_form' | transloco }}</b>
              </div>
              <div class="vet-grid-cell vet-grid-header">
                <b>{{ 'programs.level' | transloco }}</b>
              </div>
              <div class="vet-grid-cell vet-grid-header">
                <b>{{ 'programs.institution_name' | transloco }}</b>
              </div>
              <div class="vet-grid-cell vet-grid-header">
                <b>{{ 'programs.implementation_location' | transloco }}</b>
              </div>
              <div class="vet-grid-cell">
                <b>{{ 'programs.select' | transloco }}</b>
              </div>

              @for (program of selectedPrograms; track program.id) {
                <div class="vet-grid-cell">{{ $index + 1 }}</div>
                <div class="vet-grid-cell">{{ program.program_name }}</div>
                <div class="vet-grid-cell">{{ program.implementation_form }}</div>
                <div class="vet-grid-cell">{{ program.level }}</div>
                <div class="vet-grid-cell">{{ program.institution_name }}</div>
                <div class="vet-grid-cell">{{ program.implementation_location }}</div>
                <div class="vet-grid-cell">
                  <div class="k-display-flex k-align-items-center k-gap-0.5">
                    <button
                      kendoButton
                      fillMode="flat"
                      [svgIcon]="vetIcons.eye"
                      (click)="onViewClick(program)"
                    ></button>

                    <button
                      kendoButton
                      fillMode="flat"
                      [svgIcon]="vetIcons.minusCircled"
                      (click)="onDeleteClick(program)"
                    ></button>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>

        <div class="k-display-flex k-justify-content-between">
          <button kendoButton themeColor="secondary" type="button" (click)="onPreviousClick()">
            {{ 'auth.previous' | transloco }}
          </button>

          <button kendoButton themeColor="primary" type="button" (click)="onNextClick()">
            {{ 'auth.next' | transloco }}
          </button>
        </div>
      </form>
    </div>
  </div>
}
