<div class="k-display-flex k-flex-column k-gap-10">
  <vet-program-selected-programs
    [admissionId]="admissionId()"
    [form]="form()"
    (deleteClick)="onDeleteClick($event)"
  />

  <div class="k-display-flex k-justify-content-between">
    <button kendoButton themeColor="secondary" type="button" (click)="onPreviousClick()">
      {{ 'auth.back' | transloco }}
    </button>

    <button kendoButton themeColor="primary" type="button" (click)="onNextClick()">
      {{ 'auth.next' | transloco }}
    </button>
  </div>
</div>
