<div class="vet-card-container">
  <vet-long-term-statistics-filters
    [filters]="filters()"
    [numberOfRecords]="statisticsRes.value()?.data?.length"
    (filtersChange)="onFiltersChange($event)"
  />

  <div class="vet-grid-container">
    @if (statisticsRes.value()?.overall; as overall) {
      <kendo-grid [data]="[overall]" [loading]="statisticsRes.isLoading()">
        <kendo-grid-column [title]="'programs.space_count' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <p class="k-p-3">{{ item.space_count }}</p>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [title]="'programs.registered_count' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <p class="k-p-3">{{ item.registered_count }}</p>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [title]="'programs.spec_registered_count' | transloco">
          <ng-template kendoGridCellTemplate let-item>
            <p class="k-p-3">{{ item.spec_registered_count }}</p>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    }

    <kendo-grid [data]="statisticsRes.value()?.data!" [loading]="statisticsRes.isLoading()">
      <kendo-grid-column [title]="'programs.program_code' | transloco" [width]="120">
        <ng-template kendoGridCellTemplate let-item>
          <p class="k-p-3">{{ item.program_code }}</p>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [title]="'programs.exam_program' | transloco" [width]="150">
        <ng-template kendoGridCellTemplate let-item>
          <p class="k-p-3">{{ item.program_name }}</p>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [title]="'programs.spec_registered_count' | transloco" [width]="150">
        <ng-template kendoGridCellTemplate let-item>
          <p class="k-p-3">{{ item.registered.spec_count ? ('shared.yes' | transloco) : ('shared.no' | transloco) }}</p>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [title]="'programs.space_count' | transloco" [width]="300">
        <ng-template kendoGridCellTemplate let-item>
          <p class="k-p-3">{{ item.admission.students_limit }}</p>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [title]="'programs.registered_count' | transloco" [width]="300">
        <ng-template kendoGridCellTemplate let-item>
          <p class="k-p-3">{{ item.registered.count }}</p>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
