<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="k-display-flex k-align-items-center k-flex-column k-gap-10 k-mt-6">
        <h1 class="k-text-primary k-font-medium">{{ 'auth.authorization' | transloco }}</h1>

        <div class="auth-container k-display-flex k-flex-column k-gap-10 k-px-14 k-py-8 k-bg-white">
            <kendo-label [text]="'auth.id_or_passport_number' | transloco">
                <kendo-textbox
                    [size]="'large'"
                    [rounded]="'large'"
                    formControlName="pid"

                ></kendo-textbox>
            </kendo-label>

            <div class="k-display-flex k-flex-column k-gap-2">
                <kendo-label [text]="'auth.phone_number' | transloco">
                    <kendo-textbox
                        [size]="'large'"
                        [rounded]="'large'"
                        formControlName="phone"

                    ></kendo-textbox>
                </kendo-label>

                <div>
                    <a [routerLink]="['phone/change']" class="k-color-secondary k-font-size-sm">
                        {{ 'auth.change_phone_number' | transloco }}
                    </a>
                </div>
            </div>

            <div class="k-display-flex k-flex-column k-align-items-center k-gap-5">
                <div class="k-w-full k-px-16">
                    <button
                        kendoButton
                        themeColor="primary"
                        class="k-w-full"
                        look="default"
                        type="submit"
                    >
                        {{ 'auth.recover_password' | transloco }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
