@use '@vet/shared-styles' as shared;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.vet-label {
  @include shared.text-base();
  line-height: 100%;
  height: 1.0625rem;
  margin-bottom: 0.25rem;
}

kendo-textbox.vet-input {
  &.vet-input-fat {
    height: 3.125rem !important;
    border-radius: 0.625rem !important;
    border-color: shared.$kendo-color-divider-light !important;
  }

  &.vet-input-thin {
    height: 2.375rem !important;
    border-radius: 0.375rem;
    border-color: shared.$kendo-color-border-alt !important;
  }
}

.vet-input.vet-has-error {
  border-color: shared.$kendo-color-error !important;
}

.vet-error-message {
  @include shared.text-sm();
  padding: 0.0625rem 0.625rem 0;
  color: shared.$kendo-color-error;
  font-size: 0.7rem;
  line-height: 0.6875rem;
  min-height: 0.75rem;
  max-height: 0.75rem;
  white-space: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
  width: 100%;
  min-width: 0;
  margin-top: 0.25rem;
}

kendo-textbox.vet-input {
  width: 100%;
}

.vet-input-container {
}

::ng-deep {
  kendo-textbox.vet-input {
    &.vet-input-fat > input {
      color: shared.$kendo-color-body;
      @include shared.text-base(true, true);

      &::placeholder {
        color: shared.$kendo-color-hint;
        @include shared.text-sm(false, true);
      }
    }

    &.vet-input-thin > input {
      color: shared.$kendo-color-hint;
      @include shared.text-sm(false, true);

      &::placeholder {
        color: shared.$kendo-color-hint;
        @include shared.text-sm(false, true);
      }
    }

    .vet-input-icon {
      padding: 0.375rem;
      color: shared.$kendo-color-body-light;
    }

    .k-floating-label-container {
      padding-top: 0 !important;
    }
  }

  kendo-formfield.vet-input-field {
    margin-top: 0.25rem !important;

    kendo-floatinglabel.vet-input-floating-label {
      &.k-floating-label-container {
        padding-top: 0 !important;
      }

      &.k-floating-label-container > .k-floating-label {
        margin-top: 0 !important;
        top: 9px;
      }

      &.k-floating-label-container.k-focus > .k-floating-label,
      &.k-floating-label-container:not(.k-empty) .k-input.ng-touched:not(.ng-invalid) ~ .k-floating-label,
      &.k-floating-label-container:not(.k-empty) > .k-floating-label {
        top: -9px;
      }
    }
  }
}
