:host {
  display: block;
}

.section {
  background: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.k-border-radius-4 {
  border-radius: 15px;
}
