<div class="k-bg-white k-p-5 k-mb-4 k-rounded-lg">
  <div class="k-d-flex k-justify-content-between">
    <span>
      {{ 'shared.informationMessage' | transloco }}
    </span>
    <button kendoButton themeColor="primary" (click)="onRegisterClick()">
      {{ 'shared.registration' | transloco }}
    </button>
  </div>
</div>
<div class="k-bg-white k-p-5 k-rounded-lg">
  <div class="k-pb-5">
    <vet-admissions-list-filter (filtersChange)="onFiltersChange($event)" />
  </div>

  @if (isBrowser) {
    <kendo-grid
      [loading]="admissionList$.isLoading()"
      [data]="admissionList$.value()?.data || []"
      [skip]="0"
      [pageable]="true"
      [pageSize]="admissionList$.value()?.meta?.per_page"
      (dataStateChange)="handlePageChange($event)"
    >
      <kendo-grid-column field="code" [title]="'shared.requestId' | transloco" [width]="100" />
      <kendo-grid-column field="education.name" [title]="'shared.education' | transloco" [width]="90" />
      <kendo-grid-column field="language.name" [title]="'shared.testLanguage' | transloco" [width]="110" />
      <kendo-grid-column field="registered_at" [title]="'programs.registration_date' | transloco" [width]="160">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.registered_at | formatDateTime: { format: 'DD/MM/YYYY' } }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [title]="'programs.ssm_status' | transloco" [width]="100">
        <ng-template kendoGridCellTemplate let-item>
          {{ (item?.spec_edu ? 'shared.yes' : 'shared.no') | transloco }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [title]="'shared.status' | transloco" [width]="120">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.status.current }}
          <br>
          {{ item.status.date | formatDateTime: { format: 'DD/MM/YYYY' } }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [title]="''" [width]="190">
        <ng-template kendoGridCellTemplate let-item>
          <div class="k-display-flex k-justify-content-between">
            <button
              kendoButton
              fillMode="flat"
              [svgIcon]="vetIcons.editIcon"
              (click)="onViewClick(item)"
              [disabled]="!item.actions.edit"
            ></button>
            <button
              kendoButton
              fillMode="flat"
              [svgIcon]="vetIcons.emptyDocumentIcon"
              (click)="onViewClick(item)"
              [disabled]="!item.actions.choose"
            ></button>
            <button
              kendoButton
              fillMode="flat"
              [svgIcon]="vetIcons.readDocumentIcon"
              (click)="onViewClick(item)"
              [disabled]="!item.actions.view"
            ></button>
            <button
              kendoButton
              fillMode="flat"
              [svgIcon]="vetIcons.acceptedDocumentIcon"
              (click)="onViewClick(item)"
              [disabled]="!item.actions.result"
            ></button>
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  }
</div>
