<div class="k-bg-white k-p-5 k-mb-4 k-rounded-lg">
  <div class="k-d-flex k-justify-content-between">
    <span>
      საინფორმაციო შეტყობინება
    </span>
    <button kendoButton themeColor="primary" (click)="onRegisterClick()">
      {{ 'shared.registration' | transloco }}
    </button>
  </div>
</div>
<div class="k-bg-white k-p-5 k-rounded-lg">
  <div class="k-pb-5">
    <vet-admissions-list-filter (filtersChange)="onFiltersChange($event)" />
  </div>

  @if (isBrowser) {
    <kendo-grid
      [loading]="admissionList$.isLoading()"
      [data]="admissionList$.value()?.data || []"
      [skip]="0"
      [pageable]="true"
      [pageSize]="admissionList$.value()?.meta?.per_page"
      (dataStateChange)="handlePageChange($event)"
    >
      <kendo-grid-column field="code" [title]="'shared.requestId' | transloco" />
      <kendo-grid-column field="education.name" [title]="'shared.education' | transloco" />
      <kendo-grid-column field="language.name" [title]="'shared.testLanguage' | transloco" />
      <kendo-grid-column [title]="''">
        <ng-template kendoGridCellTemplate let-item>
          <div class="k-display-flex">
            <button
              kendoButton
              fillMode="flat"
              [svgIcon]="vetIcons.eye"
              (click)="onViewClick(item)"
            ></button>
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  }
</div>
