<div class="k-bg-white k-p-5 k-mb-4 k-rounded-lg">
  <div class="k-d-flex k-justify-content-between k-align-items-center">
    <span>
      {{ 'shared.informationMessage' | transloco }}
    </span>
    <button (click)="onRegisterClick()" kendoButton themeColor="primary">
      {{ 'shared.registration' | transloco }}
    </button>
  </div>
</div>
<div class="k-bg-white k-p-5 k-rounded-lg">
  @if (isBrowser) {
    <kendo-grid
      [loading]="admissionList$.isLoading()"
      [data]="admissionList$.value()?.data || []"
      (cellClick)="onCellClick($event)"
      class="main-grid"
    >
      <ng-template kendoGridNoRecordsTemplate>
        {{ 'shared.noRecords' | transloco }}
      </ng-template>
      <kendo-grid-column field="code" [title]="'shared.requestId' | transloco" [width]="80" />
      <kendo-grid-column field="education.name" [title]="'shared.education' | transloco" [width]="70" />
      <kendo-grid-column field="language.name" [title]="'shared.testLanguage' | transloco" [width]="80" />
      <kendo-grid-column field="registered_at" [title]="'programs.registration_date' | transloco" [width]="100">
        <ng-template kendoGridCellTemplate let-item>
          {{ item.registered_at | formatDateTime: { format: 'DD/MM/YYYY' } }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [title]="'programs.ssm_status' | transloco" [width]="60">
        <ng-template kendoGridCellTemplate let-item>
          {{ (item?.spec_edu ? 'shared.yes' : 'shared.no') | transloco }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [title]="'shared.status' | transloco" [width]="100">
        <ng-template kendoGridCellTemplate let-item>
          <div class="status-cell">
            <span>{{ item.status.current }}:</span>
            <small class="k-text-xs">
              {{ item.status.date | formatDateTime: { format: 'DD/MM/YYYY' } }}
            </small>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="100">
        <ng-template kendoGridCellTemplate let-item>
          <div class="k-display-flex k-gap-1 action-buttons">
            <button
              kendoButton
              fillMode="flat"
              size="small"
              [svgIcon]="vetIcons.editIcon"
              [title]="'shared.edit' | transloco"
              kendoTooltip
              (click)="onViewClick(item)"
              [disabled]="!item.actions.edit"
            ></button>
            <button
              kendoButton
              fillMode="flat"
              size="small"
              [svgIcon]="vetIcons.emptyDocumentIcon"
              [title]="'shared.choose' | transloco"
              kendoTooltip
              (click)="onViewClick(item)"
              [disabled]="!item.actions.choose"
            ></button>
            <button
              kendoButton
              fillMode="flat"
              size="small"
              [svgIcon]="vetIcons.readDocumentIcon"
              [title]="'shared.view' | transloco"
              kendoTooltip
              (click)="onViewClick(item)"
              [disabled]="!item.actions.view"
            ></button>
            <button
              kendoButton
              fillMode="flat"
              size="small"
              [svgIcon]="vetIcons.acceptedDocumentIcon"
              [title]="'shared.result' | transloco"
              kendoTooltip
              (click)="onViewClick(item)"
              [disabled]="!item.actions.result"
            ></button>
          </div>
        </ng-template>
      </kendo-grid-column>

      <ng-template kendoGridNoRecordsTemplate>
        {{ 'shared.noRecords' | transloco }}
      </ng-template>

      <ng-template kendoGridDetailTemplate let-item>
        @if (item?.programs && item.programs.length > 0) {
          <div class="k-p-2">
            <vet-admission-selected-programs
              [selectedPrograms]="item.programs"
              [selectedProgramsLoading]="false"
              [isEditMode]="false"
            />
          </div>
        } @else {
          <div class="k-p-4 k-text-center k-color-body-light">
            {{ 'programs.no_programs_selected' | transloco }}
          </div>
        }
      </ng-template>
    </kendo-grid>
  }
</div>
