<div class="programs-list-container">
    @for (program of programs(); track $index) {
      <div class="program-card">
        <div class="programs-card-header">
          <div class="k-display-flex k-align-items-center k-gap-2">
            <div class="program-card-picture"></div>

            <div class="program-card-header-title">
              <h4>{{ program.program_name }}</h4>
              <p>{{ program.organisation.name }}</p>
            </div>
          </div>

          <div class="k-display-flex k-align-items-center">
            @if (program.is_integrated) {
              <img src="/assets/images/not-integrated.svg" alt="Integrated logo" />
            }
          </div>
        </div>

        <div class="programs-card-content">
          <div class="programs-card-content-item">
            {{
              'programs.education_level'
                | transloco
                  : {
                      value: program.education_level,
                    }
            }}
          </div>
          <div class="programs-card-content-item">{{ program.type }}</div>
          <div class="programs-card-content-item">{{ program.program_duration }}</div>
        </div>

        <div class="programs-card-footer">
          <div class="k-display-flex k-justify-content-between">
            <div class="k-display-flex k-gap-2">
              <img src="/assets/images/pin.svg" alt="Pin logo" />
              <p>{{ program.organisation.address }}</p>
            </div>
            <a class="k-color-primary" [routerLink]="'/programs/' + program.id">{{ 'programs.see_in_detail' | transloco }}</a>
          </div>
          <div></div>
        </div>
      </div>
    }
  </div>