:host {
    display: block;
    .programs-list-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: end;
        gap: 2.5rem 1.25rem;
        margin-top: 2.5rem;
        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }

    .program-card {
        width: 39.375rem;
        height: 14.625rem;
        background-color: #ffffff;
        border-radius: 1.25rem;
        padding: 1.25rem;
    }

    .program-card-picture {
        width: 60px;
        height: 60px;
        border-radius: 1.25rem;
        background-color: #e3c7c9;
    }

    .programs-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .program-card-header-title {
            display: flex;
            flex-direction: column;
            gap: 0.875rem;
            p {
                font-size: 0.875;
                color: #757575;
            }
        }
    }

    .programs-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.875rem 5rem;

        .programs-card-content-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8.5rem;
            height: 2.75rem;
            border-radius: 0.625rem;
            border: 0.031rem solid #E0E0E0;
            color: #626262;
        }
    }
}
