@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../../apps/vet/src/assets/fonts/HelveticaNeue-01.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../../../apps/vet/src/assets/fonts/HelveticaNeue-Medium-11.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../../../apps/vet/src/assets/fonts/HelveticaNeue-Bold-02.ttf');
  font-weight: bold;
  font-style: normal;
}
