@if (form(); as form) {
  <form class="k-display-flex k-flex-column k-gap-6" [formGroup]="form">
    <div class="k-display-flex k-flex-column k-gap-5">
      <vet-info variant="warning">
        {{ 'programs.ssm_warning' | transloco }}
      </vet-info>

      <div
        class="k-display-flex k-flex-column k-gap-5 k-flex-1 k-py-6 k-px-3.5 k-rounded-lg k-border k-border-solid k-text-base k-border-divider-light"
      >
        <div class="k-display-flex k-align-items-center k-gap-4.5 ssm-question-container">
          <div class="k-text-base k-color-body">
            <b>{{ 'programs.ssm_question' | transloco }}</b>
          </div>
          <div>
            <vet-switch
              [ngModel]="specEduEnabled()"
              [ngModelOptions]="{standalone: true}"
              [disabled]="isViewMode()"
              (ngModelChange)="onSpecEduSwitchChange($event)"
            />
          </div>
        </div>

        @if (specEduEnabled()) {
          <vet-divider />

          <div
            class="k-display-flex k-flex-column k-gap-4 k-flex-1 k-p-3.5 k-rounded-lg k-border k-border-solid k-border-divider-light k-text-base"
          >
            <div class="k-text-base k-color-body">
              <b>{{ 'programs.ssm_contact_person_info' | transloco }}</b>
            </div>

            <div
              class="k-display-flex k-gap-4.5 k-flex-1 k-p-3.5 k-rounded-lg k-border k-border-solid k-border-divider-light k-text-base contact-fields-container"
            >
              <div class="k-display-flex k-flex-column k-gap-4.5 k-flex-1">
                <kendo-formfield>
                  <vet-input
                    formControlName="e_name"
                    version="fat"
                    [placeholder]="'programs.ssm_contact_person_first_name' | transloco"
                    [readonly]="isViewMode()"
                  />
                  @if (form.controls['e_name']; as control) {
                    @if (control.touched) {
                      @if (control.errors?.['required']) {
                        <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                      }
                    }
                  }
                </kendo-formfield>
                <kendo-formfield>
                  <vet-input
                    formControlName="e_email"
                    version="fat"
                    [placeholder]="'programs.ssm_contact_person_email' | transloco"
                    [readonly]="isViewMode()"
                  />
                  @if (form.controls['e_email']; as control) {
                    @if (control.touched) {
                      @if (control.errors?.['email']) {
                        <kendo-formerror>{{ 'shared.emailFormatError' | transloco }}</kendo-formerror>
                      }
                    }
                  }
                </kendo-formfield>
              </div>

              <div class="k-display-flex k-flex-column k-gap-4.5 k-flex-1">
                <kendo-formfield>
                  <vet-input
                    formControlName="e_lastname"
                    version="fat"
                    [placeholder]="'programs.ssm_contact_person_last_name' | transloco"
                    [readonly]="isViewMode()"
                  />
                  @if (form.controls['e_lastname']; as control) {
                    @if (control.touched) {
                      @if (control.errors?.['required']) {
                        <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                      }
                    }
                  }
                </kendo-formfield>

                <kendo-formfield>
                  <vet-input [readonly]="isViewMode()" formControlName="e_phone" prefix="+995" />

                  @if (form.controls['e_phone']; as control) {
                    @if (control.touched) {
                      @if (control.errors?.['required']) {
                        <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                      }
                      @if (control.errors?.['mobileNumber']) {
                        <kendo-formerror>{{ 'errors.mobileNumber' | transloco }}</kendo-formerror>
                      }
                    }
                  }
                </kendo-formfield>
              </div>
            </div>
          </div>

          <div
            class="k-display-flex k-flex-column k-gap-4 k-flex-1 k-p-3.5 k-rounded-lg k-border k-border-solid k-border-divider-light k-text-base"
          >
            <div class="k-display-flex k-align-items-center k-gap-4.5 translator-question-container">
              <div class="k-text-base k-color-body">
                <b>{{ 'programs.ssm_translator_requirement_question' | transloco }}</b>
              </div>
              <div>
                <vet-switch
                  [ngModel]="translateReqEnabled()"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="isViewMode()"
                  (ngModelChange)="onLanguageSwitchChange($event)"
                />
              </div>
            </div>

            @if (translateReqEnabled()) {
              <div class="k-display-flex k-gap-3.5 translator-fields-container">
                <div class="k-flex-1">
                  <vet-selector
                    [options]="$any(languages$.value() || [])"
                    [disabled]="isViewMode()"
                    formControlName="translate_select"
                  >
                    <ng-template valueTemplate let-item>
                      {{ item | transloco }}
                    </ng-template>

                    <ng-template itemTemplate let-item>
                      {{ item | transloco }}
                    </ng-template>
                  </vet-selector>
                  @if (form.controls['translate_select']; as control) {
                    @if (control.touched) {
                      @if (control.errors?.['required']) {
                        <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                      }
                    }
                  }
                </div>

                <div class="k-flex-1">
                  @if (selectedLanguage() === 'other' || selectedLanguage() === 'სხვა') {
                    <vet-input
                      [readonly]="isViewMode()"
                      formControlName="translate"
                      required
                      [placeholder]="'programs.enter_language' | transloco"
                    />
                    @if (form.controls['translate']; as control) {
                      @if (control.touched) {
                        @if (control.errors?.['required']) {
                          <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                        }
                      }
                    }
                  }
                </div>
              </div>
            }
          </div>

          <div class="k-display-flex k-flex-column k-gap-4">
            <div class="k-display-flex k-gap-1 k-text-base k-color-body">
              <b>{{ 'programs.ssm_person_requirement_info' | transloco }}</b>
            </div>

            <vet-info variant="info">
              {{ 'programs.ssm_person_requirement_description' | transloco }}
            </vet-info>

            <div class="k-border-solid k-border-divider-light k-bg-white k-p-2.5 k-rounded-xxl">
              <textarea
                class="vet-ssm-textarea k-resize-y k-w-full k-border-none k-outline-none k-text-base"
                formControlName="spe_description"
                maxlength="{{ maxLengthOfRequirements }}"
                [readonly]="isViewMode()"
              ></textarea>
              <div class="k-display-flex k-justify-content-end k-text-xs k-text-base">
                {{ form.controls['spe_description'].value?.length ?? 0 }}/{{ maxLengthOfRequirements }}
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="k-display-flex k-justify-content-between buttons-container">
      <vet-button variant="tertiary" version="fat" type="button" (click)="onPreviousClick()">
        {{ 'auth.previous' | transloco }}
      </vet-button>

      <vet-button version="fat" type="button" (click)="onNextClick()">
        {{ 'auth.next' | transloco }}
      </vet-button>
    </div>
  </form>
}
