@if (programsList$.isLoading()) {
  <div class="loading-container">
    <kendo-loader size="medium" [themeColor]="'secondary'" />
  </div>
}

@if ((programsList$.value()?.data || []).length > 0) {
  <kendo-grid
    [data]="programsList$.value()?.data || []"
    [selectable]="selectableSettings"
    [kendoGridSelectBy]="selectionKey"
    [selectedKeys]="selectedProgramKeys()"
    (selectionChange)="onSelectionChange($event)"
    [loading]="isLoading()"
    [resizable]="true"
  >
    <ng-template kendoGridNoRecordsTemplate>
      <div class="k-p-4 k-text-center k-text-base">
        {{ 'shared.noRecords' | transloco }}
      </div>
    </ng-template>

    @if (!readonly() && !(('Super Admin' | role) || ('Organisation' | role))) {
      <kendo-grid-checkbox-column
        [showSelectAll]="false"
        [width]="40"
        [minResizableWidth]="25"
        [maxResizableWidth]="40"
      />
    }

    <kendo-grid-column
      field="program.organisation.name"
      [title]="'programs.college' | transloco"
      [width]="200"
      [minResizableWidth]="150"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="institution-cell">
          <div class="institution-name">{{ dataItem.program?.organisation?.name }}</div>
          <div class="institution-address">{{ dataItem.program?.organisation?.address }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="program.program_name"
      [title]="'programs.program' | transloco"
      [width]="130"
      [minResizableWidth]="80"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="program-name-cell">
          <strong>{{ dataItem.program?.program_name }}</strong>
          <div class="program-code">{{ dataItem.program?.program_code }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="program.admission.students_limit"
      [title]="'programs.available_places' | transloco"
      [width]="220"
      [minResizableWidth]="140"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.program?.admission?.students_limit || '' }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [title]="'programs.rating_score' | transloco" [width]="140" [minResizableWidth]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem?.result?.score }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [title]="'programs.rating_position' | transloco" [width]="190" [minResizableWidth]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem?.result?.position }}
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
}
