<div class="file-upload-container">
  <!-- File Label -->
  <label class="file-input-label">
    @if (selectedFileName()) {
      <span>{{ selectedFileName() }}</span>
    } @else {
      <span>გთხოვთ ატვირთოთ ფაილი</span>
    }
    <input type="file" (change)="onFileSelected($event)" accept="*">
  </label>

  <!-- Action Icons -->
  @if (selectedFileName()) {
    <div class="file-actions">
      <button class="icon-btn" (click)="removeFile()">
        <kendo-svg-icon [icon]="kendoIcons.xIcon"/>
      </button>
      @if (fileBase64()) {
        <button class="icon-btn" (click)="downloadFile()">
          <kendo-svg-icon [icon]="kendoIcons.downloadIcon"/>
        </button>
      }
    </div>
  }

  <!-- Upload Button -->
  <button class="upload-btn" (click)="uploadFile()" [disabled]="!fileBase64()">
    <kendo-svg-icon [icon]="kendoIcons.uploadIcon"/> ფაილის ატვირთვა
  </button>
</div>
