<div class="file-upload-container">
  <label [class.disabled]="uploadedFiles().length >= maxFiles()" class="file-input-label">
    <span>
      {{ title() | transloco }}
      {{ 'shared.selectFileSupportedTypes' | transloco }}
    </span>
    <input
      (change)="onFileSelected($event)"
      [disabled]="uploadedFiles().length >= maxFiles()"
      accept=".pdf,.doc,.docx,.png,.jpg,.jpeg"
      multiple
      type="file"
    />
  </label>

  @if (uploadedFiles().length > 0) {
    <div class="file-list">
      @for (file of uploadedFiles(); track file) {
        <div class="file-item">
          <span class="file-name">{{ file.filename || file.file_name }}</span>
          <div class="file-actions">
            <button type="button" class="icon-btn" (click)="downloadFile(file)">
              <kendo-svg-icon [icon]="kendoIcons.downloadIcon" />
            </button>
            <button type="button" class="icon-btn" (click)="removeFile(file)">
              <kendo-svg-icon [icon]="kendoIcons.xIcon" />
            </button>
          </div>
        </div>
      }
    </div>
  }

  @if (errorMessage()) {
    <div class="error-message">
      {{ errorMessage() }}
    </div>
  }
</div>
