<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div vet-container>
    <div vet-row>
      @if (hasOrganisationsField()) {
        <vet-selector
          formControlName="organisation"
          [placeholder]="'programs.institution' | transloco"
          [options]="institutionOptions.value()"
        />
      }

      <vet-selector
        formControlName="program"
        [placeholder]="'shared.program' | transloco"
        [options]="programsOptions.value()"
      />

      <vet-input
        [placeholder]="'programs.pid' | transloco"
        formControlName="pid"
      />

      <vet-input
        [placeholder]="'programs.fullname' | transloco"
        formControlName="fullname"
      />
    </div>

    <div vet-row>
      <vet-switch
        vet-row
        formControlName="spec"
        [label]="'programs.ssm_status' | transloco"
        mode="outline"
      />

      <vet-switch
        vet-row
        formControlName="status"
        [label]="'programs.status' | transloco"
        icon="info"
        mode="outline"
        [iconPopover]="popover"
      >
        <ng-template #popover>
          <div class="k-display-flex k-flex-column k-text-base k-color-hint">
            <p>
              {{ 'programs.status_conditions' | transloco }}
            </p>

            <ul class="k-ml-5">
              <li>
                {{ 'programs.status_foreign_citizen' | transloco }}
              </li>
              <li>{{ 'programs.status_refugee' | transloco }}</li>
              <li>{{ 'programs.status_foreign_institution' | transloco }}</li>
              <li>{{ 'programs.status_occupied_teritory_institution' | transloco }}</li>
            </ul>
          </div>
        </ng-template>
      </vet-switch>
    </div>

    <div vet-line space-between align-center>
      <p class="k-text-sm k-color-body">
        {{ 'shared.numberOfRecords' | transloco: { count: numberOfRecords() } }}
      </p>

      <div vet-line gap-dense content-right>
        <vet-icon-button icon="close" (click)="clearFilters()" />

        <vet-button leadingIcon="search" type="submit">
          {{ 'shared.search' | transloco }}
        </vet-button>
      </div>
    </div>
  </div>
</form>
