:host {
  display: block;
  .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    @media (max-width: 1215px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 945px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 1.25rem;
      border-radius: 1.25rem;
      height: 10.5rem;
      transition: transform 0.3s ease;

      &:hover, &:focus {
        transform: translateY(-0.3125rem);
        text-decoration: none;
      }

      &--blue {
        background-color: #DBEBFE;
      }

      &--yellow {
        background-color: #FFF1D1;
      }

      &--green {
        background-color: #E5FFED;
      }

      &--pink {
        background-color: #FCE4EC;
      }

      &--purple {
        background-color: #EAE6FF;
      }

      &--teal {
        background-color: #DFF6FF;
      }
    }

    &__icon {
      width: 3.125rem;
      height: 3.125rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

::ng-deep {
  .card-list__icon {
    kendo-svg-icon {
      display: block !important;

      svg {
        height: 46px !important;
      }
    }
  }
}
