<div class="k-display-flex k-flex-column k-gap-10">
  @if (showTitle()) {
    <div class="k-text-lg">
      {{ 'home.services' | transloco }}
    </div>
  }

  <div class="card-list">
    @for (card of cards; track card) {
      @if (card.accessControl | hasAccess) {
        <a
          class="card-list__item k-display-flex k-gap-9"
          [ngClass]="'card-list__item--' + card.color"
          [routerLink]="card.url"
        >
          <div class="card-list__icon">
            <vet-icon [icon]="card.icon" />
          </div>

          <p class="k-text-base k-color-body-dark vet-text-uppercase">{{ card.text | transloco }}</p>
        </a>
      }
    }
  </div>
</div>
