<div class="k-display-flex k-flex-column k-gap-10">
  @if (showTitle()) {
    <div class="k-text-lg">
      {{ 'home.services' | transloco }}
    </div>
  }

  <div class="card-list">
    @for (card of cards; track card) {
      <div
        class="card-list__item k-display-flex k-gap-9"
        [ngClass]="'card-list__item--' + card.color"
        (click)="handleRouting(card.url)"
      >
        <div class="card-list__icon">
          <kendo-svg-icon [icon]="card.icon"/>
        </div>

        <span class="k-text-base k-color-body-dark">{{ card.text | transloco }}</span>
      </div>
    }
  </div>
</div>
