@if (formGroup()) {
  <div class="vet-admission-wizard">
    <div [class.expanded]="isExpanded()" [class.mobile]="isMobile()" class="stepper-container">
      @if (!isMobile()) {
        <div class="stepper-toggle-container">
          <button
            kendoButton
            [svgIcon]="isExpanded() ? vetIcons.chevronLeft : vetIcons.chevronRight"
            class="stepper-toggle"
            (click)="onToggleExpansion()"
          ></button>
        </div>
      }

      <kendo-stepper
        (activate)="onStepChange($event)"
        [(currentStep)]="currentStepIndex"
        [orientation]="stepperOrientation()"
        [stepType]="stepType()"
        [steps]="steps()"
        class="wizard-stepper"
      >
        @if (!isMobile()) {
          <ng-template kendoStepperLabelTemplate let-step>
            {{ step.label | transloco }}
          </ng-template>
        } @else {
          <ng-template kendoStepperIndicatorTemplate let-step let-index="index">
            <div class="step-indicator">{{ index + 1 }}</div>
          </ng-template>
        }
      </kendo-stepper>
    </div>

    <div class="step-content-container">
      <div class="step-content">
        @if (currentStep(); as _currentStep) {
          <div class="step-body">
            <ng-template [ngTemplateOutlet]="_currentStep.template" />
          </div>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="loading-container">
    <div class="loading-content">
      <kendo-loader [size]="'large'" />
      <p>{{ 'shared.loading' | transloco }}</p>
    </div>
  </div>
}

<ng-template #programGeneralInformationStepTmpl>
  @if (formGroup(); as form) {
    <vet-program-general-information-step
      (clearSelectedPrograms)="clearSelectedPrograms()"
      (nextClick)="onNextClick('general_information')"
      [form]="form.controls['general_information']"
      [isViewMode]="isViewMode()"
    />
  }
</ng-template>

<ng-template #programSsmStepTmpl>
  @if (formGroup(); as form) {
    <vet-program-ssm-step
      (clearSelectedPrograms)="clearSelectedPrograms()"
      (nextClick)="onNextClick('ssm_status')"
      (previousClick)="onPreviousClick()"
      [form]="form.controls['ssm_status']"
      [isViewMode]="isViewMode()"
    />
  }
</ng-template>

<ng-template #programSelectionStepTmpl>
  @if (formGroup(); as form) {
    <vet-program-selection-step
      (nextClick)="onNextClick('program_selection')"
      (previousClick)="onPreviousClick()"
      [admissionId]="admissionId()"
      [form]="form.controls['program_selection']"
      [generalInformationFrom]="form.controls['general_information']"
      [ssmStepForm]="form.controls['ssm_status']"
      [isViewMode]="isViewMode()"
    />
  }
</ng-template>

<ng-template #programSelectedProgramsStepTmpl>
  @if (formGroup(); as form) {
    <vet-program-selected-programs-step
      (nextClick)="onNextClick('selected_programs')"
      (previousClick)="onPreviousClick()"
      [admissionId]="admissionId()"
      [form]="form.controls['selected_programs']"
      [selectionProgramsForm]="form.controls['program_selection']"
      [ssmStepForm]="form.controls['ssm_status']"
      [isViewMode]="isViewMode()"
    />
  }
</ng-template>

<ng-template #programConfirmationStepTmpl>
  @if (formGroup(); as form) {
    <vet-program-confirmation-step
      (nextClick)="onNextClick('confirmation')"
      (previousClick)="onPreviousClick()"
      [form]="form.controls['confirmation']"
      [generalInformationFormGroup]="form.controls['general_information']"
      [ssmFormGroup]="form.controls['ssm_status']"
      [selectedProgramsForm]="form.controls['selected_programs']"
      [admissionId]="admissionId()"
      [isViewMode]="isViewMode()"
    />
  }
</ng-template>
