:host {
  display: block;

  --container-bg-color: #ffffff;
  --container-border-radius: 1.25rem;
  --container-padding: 1.25rem;

  .stepper-container,
  .step-content-container {
    overflow: auto;
    flex: 1;
    height: 100%;
    padding: var(--container-padding);
    border-radius: var(--container-border-radius);
    background-color: var(--container-bg-color);
  }

  .stepper-container {
    width: 100%;
    max-width: 16rem;
  }
}
