<div class="program-choose-container">
  <vet-info class="k-mb-5" variant="warning">
    <h3 class="k-mb-3">{{ 'programs.choose_program_important_notice' | transloco }}</h3>
    <p>{{ 'programs.choose_program_notice_text' | transloco }}</p>
  </vet-info>

  <vet-admission-program-grid />

  <div class="k-d-flex k-justify-content-end k-mt-4">
    <button kendoButton [primary]="true" (click)="onSave()">
      {{
        ('Super Admin' | role) || ('Organisation' | role) ? ('shared.close' | transloco) : ('shared.save' | transloco)
      }}
    </button>
  </div>
</div>
