@if (user(); as _user) {
  @if (form(); as _form) {
    <div class="k-display-flex k-gap-10 k-flex-column">
      <div>
        <form class="k-display-flex k-flex-column k-gap-10" [formGroup]="_form">
          <div class="k-display-flex k-flex-column k-gap-10">
            <div class="k-p-4 k-rounded-2.5 k-display-flex k-gap-6 k-bg-divider-light k-w-full">
              <img src="/assets/images/profile.png" width="146" height="120" />

              <div class="k-display-flex k-flex-column k-w-full k-gap-1">
                <div class="k-display-flex k-w-full k-gap-2.5 k-text-base k-border-b-solid k-border-white">
                  <span class="k-color-body">{{ 'programs.pid' | transloco }}:</span>
                  <span class="k-color-body-dark">{{ _user.pid }}</span>
                </div>
                <div class="k-display-flex k-w-full k-gap-2.5 k-text-base k-border-b-solid k-border-white">
                  <span class="k-color-body">{{ 'programs.name_surname' | transloco }}:</span>
                  <span class="k-color-body-dark">{{ _user.name }}</span>
                </div>
                <div class="k-display-flex k-w-full k-gap-2.5 k-text-base k-border-b-solid k-border-white">
                  <span class="k-color-body">{{ 'programs.mobile' | transloco }}:</span>
                  <span class="k-color-body-dark">{{ _user.phone }}</span>
                </div>
                <div class="k-display-flex k-w-full k-gap-2.5 k-text-base k-border-b-solid k-border-white">
                  <span class="k-color-body">{{ 'programs.education' | transloco }}:</span>
                  <span class="k-color-body-dark">{{ educationStatus.value()?.level }}</span>
                </div>
              </div>
            </div>

            <div class="k-py-8 k-px-2 k-border-solid k-border-divider-light k-pos-relative">
              <div class="k-pos-absolute k-top-0 k-left-0 k-mt--5 k-ml-24 k-text-md k-color-body k-p-2 k-bg-white">
                {{ 'programs.selected_programs' | transloco }}
              </div>
              <vet-program-selected-programs
                [selectedPrograms]="selectedPrograms.value()"
                [selectedProgramsLoading]="selectedPrograms.isLoading()"
                [selectedProgramsError]="$any(selectedPrograms.error())"
              />
            </div>

            @if (ssmFormGroup(); as ssmForm) {
              <div
                class="k-display-flex k-flex-column k-gap-5 k-flex-1 k-py-6 k-px-3.5 k-rounded-lg k-border k-border-solid k-text-base"
                [ngClass]="ssmForm.controls['spec_edu'].value ? 'k-border-primary' : 'k-border-divider-light'"
              >
                <div class="k-display-flex k-align-items-center k-gap-4.5">
                  <div class="k-text-base k-color-body">
                    <b>{{ 'programs.ssm_question' | transloco }}</b>
                  </div>
                  <div>
                    <kendo-switch
                      [onLabel]="'shared.yes' | transloco"
                      [offLabel]="'shared.no' | transloco"
                      [checked]="!!ssmForm.controls['spec_edu'].value"
                      [disabled]="true"
                    />
                  </div>
                </div>
              </div>

              @if (ssmForm.controls['spec_edu'].value) {
                <div
                  class="k-display-flex k-flex-column k-gap-4 k-flex-1 k-p-3.5 k-rounded-lg k-border k-border-solid k-border-divider-light k-text-base"
                >
                  <div class="k-display-flex k-align-items-center k-gap-4.5">
                    <div class="k-text-base k-color-body">
                      <b>{{ 'programs.ssm_translator_requirement_question' | transloco }}</b>
                    </div>
                    <div>
                      <kendo-switch
                        [onLabel]="'shared.yes' | transloco"
                        [offLabel]="'shared.no' | transloco"
                        [checked]="!!ssmForm.controls['language'].value"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  @if (ssmForm.controls['language'].value) {
                    <div class="k-display-flex k-align-items-center k-gap-3.5">
                      <div class="k-flex-1">
                        <kendo-textbox
                          inputmode="flat"
                          [value]="ssmForm.controls['language'].value ?? ''"
                          [readonly]="true"
                        />
                      </div>

                      <div class="k-flex-1"></div>
                    </div>
                  }
                </div>

                <div class="k-display-flex k-flex-column k-gap-4">
                  <div class="k-display-flex k-gap-1 k-text-base k-color-body">
                    <b>{{ 'programs.ssm_person_requirement_info' | transloco }}</b>
                  </div>

                  <div class="k-border-solid k-border-divider-light k-bg-white k-p-2.5 k-rounded-xxl">
                    <textarea
                      class="vet-ssm-textarea k-resize-y k-w-full k-border-none k-outline-none k-text-base"
                      [value]="ssmForm.controls['spe_description'].value ?? ''"
                      [readOnly]="true"
                    ></textarea>
                    <div class="k-display-flex k-justify-content-end k-text-xs k-color-secondary">
                      {{ ssmForm.controls['spe_description'].value?.length ?? 0 }}/{{ maxLengthOfRequirements }}
                    </div>
                  </div>
                </div>
              }
            }

            <div
              class="k-p-4 k-rounded-2.5 k-display-flex k-flex-column k-gap-6 k-border-solid k-border-divider-light k-w-full k-text-base k-color-body"
            >
              <div class="k-display-flex k-align-items-center k-gap-4">
                <b>{{ 'programs.needs_adaptive_environment' | transloco }}</b>
                <kendo-switch
                  [onLabel]="'programs.yes' | transloco"
                  [offLabel]="'programs.no' | transloco"
                  [size]="'small'"
                  [checked]="getSpecialRequirements().length > 0"
                  [disabled]="true"
                />
              </div>

              <b>{{ 'programs.please_select_your_requirement' | transloco }}</b>

              <div class="k-display-flex k-align-items-center k-gap-4">
                @for (specialRequirement of getSpecialRequirements(); track specialRequirement) {
                  <div class="k-display-flex k-align-items-center k-gap-2">
                    <input kendoCheckBox type="checkbox" [checked]="true" [disabled]="true" />
                    <kendo-label class="k-text-base k-color-body-dark" [text]="specialRequirement" />
                  </div>
                }
              </div>
            </div>

            <div
              class="k-p-4 k-rounded-2.5 k-display-flex k-flex-column k-gap-6 k-border-solid k-border-divider-light k-w-full k-text-base k-color-body"
            >
              <div class="k-display-flex k-align-items-center k-gap-4">
                @if (_user.residential === 'GEO') {
                  <b>{{ 'programs.foreigner_school_education_text' | transloco }}</b>
                } @else {
                  <b>{{ 'programs.foreigner_school_education_text_non_resident' | transloco }}</b>
                }

                <kendo-switch
                  [onLabel]="'programs.yes' | transloco"
                  [offLabel]="'programs.no' | transloco"
                  [size]="'small'"
                  [checked]="getSpecialRequirements().length > 0"
                  [disabled]="true"
                />
              </div>

              <vet-info variant="warning" [text]="'programs.foreigner_school_education_warning' | transloco" />

              <div
                class="k-p-4 k-rounded-2.5 k-display-flex k-flex-column k-gap-6 k-border-solid k-border-divider-light k-w-full k-text-base k-color-body"
              >
                <b>{{ 'programs.file' | transloco }}</b>

                <div class="k-display-flex k-flex-column k-gap-2">
                  @for (file of getAbroadDocuments(); track file.filename) {
                    <div
                      class="k-px-3.5 k-py-2.5 k-rounded-1 k-display-flex k-justify-content-between k-align-items-center k-gap-6 k-bg-paper-dark k-w-full"
                    >
                      <span>{{ file.filename }}</span>
                      <kendo-svg-icon
                        [icon]="vetIcons.download"
                        class="k-cursor-pointer"
                        (click)="onDownloadClick(file)"
                      />
                    </div>
                  }
                </div>
              </div>
            </div>

            <div
              class="k-p-4 k-rounded-2.5 k-display-flex k-flex-column k-gap-6 k-border-solid k-border-divider-light k-w-full k-text-base k-color-body"
            >
              <div class="k-display-flex k-align-items-center k-gap-4">
                @if (_user.residential === 'GEO') {
                  <b>{{ 'programs.occupied_school_education_text' | transloco }}</b>
                } @else {
                  <b>{{ 'programs.occupied_school_education_text_refugee' | transloco }}</b>
                }

                <kendo-switch
                  [onLabel]="'programs.yes' | transloco"
                  [offLabel]="'programs.no' | transloco"
                  [size]="'small'"
                  [checked]="!!generalInformationFormGroup()?.controls?.['complete_base_edu_abroad']?.value"
                  [disabled]="true"
                />
              </div>

              <vet-info variant="warning" [text]="'programs.foreigner_school_education_warning' | transloco" />

              <div
                class="k-p-4 k-rounded-2.5 k-display-flex k-flex-column k-gap-6 k-border-solid k-border-divider-light k-w-full k-text-base k-color-body"
              >
                <b>{{ 'programs.file' | transloco }}</b>

                <div class="k-display-flex k-flex-column k-gap-2">
                  @for (file of getOcuDocuments(); track file.filename) {
                    <div
                      class="k-px-3.5 k-py-2.5 k-rounded-1 k-display-flex k-justify-content-between k-align-items-center k-gap-6 k-bg-paper-dark k-w-full"
                    >
                      <span>{{ file.filename }}</span>
                      <kendo-svg-icon
                        [icon]="vetIcons.download"
                        class="k-cursor-pointer"
                        (click)="onDownloadClick(file)"
                      />
                    </div>
                  }
                </div>
              </div>
            </div>

            @if (ssmFormGroup(); as ssmForm) {
              @if (ssmForm.controls['spec_edu'].value) {
                <div
                  class="k-display-flex k-flex-column k-gap-3 k-flex-1 k-py-6 k-px-3.5 k-rounded-lg k-border k-border-solid k-border-primary k-text-base k-color-body-dark"
                >
                  <div class="k-display-flex k-gap-1 k-text-base k-pb-3 k-border-b-solid k-border-divider-light">
                    {{ 'programs.ssm_disclaimer_summary' | transloco }}
                  </div>

                  <div>
                    <b>{{ 'programs.ssm_disclaimer_documentation_title' | transloco }}</b>
                  </div>

                  <div class="k-pl-5">
                    <ol>
                      <li [innerHTML]="'programs.ssm_disclaimer_item_1' | transloco"></li>
                      <li class="k-mt-2.5" [innerHTML]="'programs.ssm_disclaimer_item_2' | transloco"></li>
                      <li class="k-mt-2.5" [innerHTML]="'programs.ssm_disclaimer_item_3' | transloco"></li>
                      <li class="k-mt-2.5" [innerHTML]="'programs.ssm_disclaimer_item_4' | transloco"></li>
                      <li class="k-mt-2.5" [innerHTML]="'programs.ssm_disclaimer_item_5' | transloco"></li>
                    </ol>
                  </div>
                </div>
              }
            }
          </div>

          <div class="k-display-flex k-justify-content-between k-align-items-center">
            <button
              kendoButton
              themeColor="secondary"
              type="button"
              [svgIcon]="vetIcons.print"
              (click)="onPrintClick()"
            >
              {{ 'programs.print' | transloco }}
            </button>

            <div class="k-display-flex k-align-items-center k-gap-5">
              <button kendoButton themeColor="secondary" type="button" (click)="onPreviousClick()">
                {{ 'auth.previous' | transloco }}
              </button>

              <button kendoButton themeColor="primary" type="button" (click)="onNextClick()">
                {{ 'programs.finish' | transloco }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  }
}
