@if (form(); as form) {
  <div class="k-display-flex k-gap-10 k-flex-column">
    <div>
      <form class="k-display-flex k-flex-column k-gap-10" [formGroup]="form">
        <div>
          <div class="k-display-flex k-gap-10">//</div>
        </div>

        <div class="k-display-flex k-justify-content-between">
          <button kendoButton themeColor="secondary" type="button" (click)="onPreviousClick()">
            {{ 'auth.back' | transloco }}
          </button>

          <button kendoButton themeColor="primary" type="button" (click)="onNextClick()">
            {{ 'auth.next' | transloco }}
          </button>
        </div>
      </form>
    </div>
  </div>
}
