<div class="k-display-flex k-align-items-center k-gap-3.5">
  <div class="k-display-flex k-align-items-center k-gap-2 k-text-sm k-color-body">
    @if (icon(); as _icon) {
      <kendo-svg-icon
        class="k-color-body-light"
        [style.height]="16"
        [icon]="_icon"
      />
    }

    <b>{{ label() }}</b>
  </div>
  <div>
    <kendo-switch
      class="vet-filter-input"
      size="small"
      [onLabel]="'shared.yes' | transloco"
      [offLabel]="'shared.no' | transloco"
      [disabled]="isDisabled()"
      [ngModel]="value()"
      (ngModelChange)="handleChange($event)"
    />
  </div>
</div>
