@let _details = details();

@if (_details) {
  <form class="vet-shorts-confirmation-step" [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
    <div class="vet-shorts-confirmation-container">
      <div class="vet-shorts-confirmation-details-container">
        <img
          class="vet-shorts-confirmation-profile-picture"
          src="/assets/images/profile.png"
          alt=""
        />

        <div class="vet-shorts-confirmation-details">
          @for (detail of _details; track $index) {
            <div class="vet-shorts-confirmation-detail">
              <div class="vet-shorts-confirmation-detail-label">
                {{ detail.label | transloco }}:
              </div>

              <div class="vet-shorts-confirmation-detail-value">
                {{ detail.value }}
              </div>
            </div>
          }
        </div>
      </div>

      <div class="vet-shorts-confirmation-selected-programs-container">
        <div class="vet-shorts-confirmation-selected-programs-container-title">
          {{ 'programs.selected_programs' | transloco }}
        </div>

        @if (isBrowser) {
          <vet-short-registration-selected-programs-grid
            [isEditMode]="false"
            [selectedPrograms]="selectedPrograms()"
          />
        }
      </div>

      <vet-info
        variant="warning"
        [text]="'shorts.information_message' | transloco"
      />
    </div>

    <div class="vet-shorts-step-footer">
      <vet-button version="fat" variant="tertiary" (click)="onBack()">
        {{ 'shorts.go_back' | transloco }}
      </vet-button>

      <vet-button type="submit" version="fat" [disabled]="formGroup().invalid">
        {{ 'shorts.complete' | transloco }}
      </vet-button>
    </div>
  </form>
}
