<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div vet-container>
    <div vet-row>
      <vet-selector
        formControlName="program"
        [placeholder]="'programs.exam_program' | transloco"
        [options]="programsOptions.value()"
      />

      <vet-selector
        formControlName="kind"
        [placeholder]="'programs.form' | transloco"
        [options]="ProgramKindsOptions.value()"
      />
    </div>

    <div vet-row>
      <vet-switch
        self-grow
        formControlName="integrated"
        icon="integratedIcon"
        mode="outline"
        [label]="'programs.integrated' | transloco"
      />
      <div vet-row></div>
    </div>

    <div vet-line space-between align-center>
      <p class="k-text-sm k-color-body">
        {{ 'shared.numberOfRecords' | transloco: { count: numberOfRecords() } }}
      </p>

      <div vet-line gap-dense content-right>
        <vet-icon-button icon="close" (click)="clearFilters()" />

        <vet-button leadingIcon="search" type="submit">
          {{ 'shared.search' | transloco }}
        </vet-button>
      </div>
    </div>
  </div>
</form>
