@let _program = sanitizedProgram();

<div class="vet-shorts-card">
  <div class="vet-shorts-card-header">
    <div
      class="vet-shorts-card-icon"
      [innerHTML]="_program.icon"
    ></div>

    <div class="vet-shorts-card-heading">
      <div class="vet-shorts-card-title">{{ _program.program_name }}</div>
      <div class="vet-shorts-card-subtitle">{{ _program.organisation?.name }}</div>
    </div>
  </div>

  <div class="vet-shorts-card-details">
    <div class="vet-shorts-card-detail-item">
      {{ 'shorts.level_nth' | transloco: { level: _program.education_level } }}
    </div>

    <div class="vet-shorts-card-detail-item">
      {{ _program.program_kind?.name }}
    </div>

    <div class="vet-shorts-card-detail-item">
      {{ 'shorts.duration_weeks' | transloco: { duration: _program.program_duration } }}
    </div>
  </div>

  <div class="vet-shorts-card-field-container">
    <span>{{ 'shorts.field' | transloco }}:</span>
    <b>{{ 'shorts.field_type_education' | transloco }}</b>
  </div>

  <div class="vet-shorts-card-footer">
    <div class="vet-shorts-card-location">
      <kendo-svg-icon [icon]="vetIcons.locationPin"/>
      <span class="vet-shorts-card-address">{{ _program.region?.name }}</span>
    </div>

    <a [routerLink]="['/programs/short', _program.id]" class="vet-shorts-card-link">
      {{ 'shorts.view_details' | transloco }}
    </a>
  </div>
</div>
