<div class="vet-shorts-grid">
  @if (allPrograms().length === 0 && !shortPrograms.isLoading()) {
    <div class="loader-container">
      {{ 'shared.noRecords' | transloco }}
    </div>
  } @else {
    @for (item of allPrograms(); track item?.id) {
      <vet-program-card 
        class="vet-shorts-grid-item" 
        [program]="item" 
        [programDetailsPath]="'/programs/short'" 
      />
    }
  }
</div>

@if (shortPrograms.isLoading()) {
  <div class="loader-container">
    <kendo-loader [type]="'pulsing'" />
  </div>
}
