@if (totalPrograms() !== 0) {
  <div class="vet-total">
    {{ 'shared.numberOfRecords' | transloco: { count: totalPrograms() } }}
  </div>
}

<div class="vet-unauthorised-grid">
  @if (allPrograms().length === 0 && !unAuthorisedPrograms.isLoading()) {
    <div class="loader-container">
      {{ 'shared.noRecords' | transloco }}
    </div>
  } @else {
    @for (item of allPrograms(); track item?.id) {
      <vet-program-card 
        class="vet-unauthorised-grid-item" 
        [program]="item" 
        [programDetailsPath]="'/programs'" 
        [iscedCode]="item.isced?.code"
      />
    }
  }
</div>

@if (unAuthorisedPrograms.isLoading()) {
  <div class="loader-container">
    <kendo-loader [type]="'pulsing'" />
  </div>
}
