@let _program = program();

<div class="vet-contact-container">
  <div class="vet-contact-item">
    <kendo-svg-icon class="vet-contact-item-icon" [icon]="vetIcons.phoneMini"/>
    <a [href]="'tel:' + _program.organisation?.phone" target="_blank" class="k-text-base k-color-body">
      {{ _program.organisation?.phone }}
    </a>
  </div>

  <div class="vet-contact-item">
    <kendo-svg-icon class="vet-contact-item-icon" [icon]="vetIcons.locationMini"/>
    <span>{{ _program.address }}</span>
  </div>

  <div class="vet-contact-item">
    <kendo-svg-icon class="vet-contact-item-icon" [icon]="vetIcons.globeMini"/>
    <a [href]="_program.organisation?.website" target="_blank" class="k-text-base k-color-body">
      {{ _program.organisation?.website }}
    </a>
  </div>

  <div class="vet-contact-item">
    <kendo-svg-icon class="vet-contact-item-icon" [icon]="vetIcons.envelopeMini"/>
    <a [href]="'mailto:' + _program.organisation?.email" target="_blank" class="k-text-base k-color-body">
      {{ _program.organisation?.email }}
    </a>
  </div>
</div>

<div class="vet-responsible-person-contact">
  <kendo-svg-icon class="vet-contact-item-icon" [icon]="vetIcons.personMini"/>
  <div>
    <span>{{ 'shorts.responsible_person_phone' | transloco }}:</span>
    <a [href]="'tel:' + _program.responsible_person_phone" target="_blank" class="k-text-base k-color-body">
      {{ _program.responsible_person_phone ?? 'N/A' }}
    </a>
  </div>
</div>
