<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div vet-container>
    <div vet-row space-between>
      <p vet-row class="k-text-md k-color-body">
        {{ 'programs.exam_card' | transloco }}
      </p>

      <div vet-row>
        <vet-input
          vet-row
          formControlName="pid"
          [placeholder]="'programs.pid' | transloco"
        />

        <div vet-line gap-dense content-right>
          <vet-icon-button icon="close" (click)="clearFilters()" />

          <vet-button leadingIcon="search" type="submit">
            {{ 'shared.search' | transloco }}
          </vet-button>
        </div>
      </div>
    </div>
  </div>
</form>
