@if (form(); as formGroup) {
  <form vet-container gap-s [formGroup]="formGroup">
    <div vet-row align-start>
      <vet-input
        self-grow
        version="fat"
        formControlName="phoneNumber"
        [topLabelFromThe90s]="'auth.phone_number' | transloco"
      >
        <p prefix>
          {{ 'auth.georgian_code' | transloco }}
        </p>

        @if (status() === 'initial') {
          <vet-button
            after
            version="fat"
            [disabled]="!phoneNumberControl().valid"
            (click)="onCheckClick()"
          >
            {{ 'auth.check' | transloco }}
          </vet-button>
        }
      </vet-input>

      <div self-grow>
        @if (status() !== 'initial') {
          <vet-registration-phone-verification
            class="vet-registration-phone-verification"
            formControlName="phoneVerificationNumber"
            [isSuccess]="status() === 'success'"
            [isPending]="status() === 'verifying' || isPending()"
            [isValid]="isValid()"
            [errorMessage]="errorMessage()"
            [timeSent]="startTime()"
            (reload)="onSend()"
          />
        }
      </div>
    </div>
  </form>
}
