@if (form(); as form) {
  <div class="k-display-flex k-gap-10 k-flex-column">
    <form [formGroup]="form">
      <div class="k-display-flex k-flex-column k-gap-10">
        <div class="k-display-flex k-gap-5">
          <kendo-label [text]="'auth.password' | transloco">
            <kendo-textbox
              [clearButton]="true"
              formControlName="password"
              type="password"
              #passwordTextBox
              (keydown)="restrictInput($event)"
            >
              <ng-template kendoTextBoxSuffixTemplate>
                <button
                  kendoButton
                  type="button"
                  look="clear"
                  [svgIcon]="eyeIcon"
                  (click)="togglePasswordVisibility(passwordTextBox)"
                ></button>
              </ng-template>
            </kendo-textbox>
            @if (form.controls['password']; as control) {
              @if (!control.untouched) {
                @if (control.errors?.['required']) {
                  <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                }
                @if (control.errors?.['passwordPattern']) {
                  <kendo-formerror>{{ 'shared.invalidPasswordPattern' | transloco }}</kendo-formerror>
                }
              }
            }
          </kendo-label>

          <kendo-label [text]="'auth.repeat_password' | transloco">
            <kendo-textbox
              [clearButton]="true"
              formControlName="confirmPassword"
              type="password"
              #confirmPasswordTextBox
              (keydown)="restrictInput($event)"
            >
              <ng-template kendoTextBoxSuffixTemplate>
                <button
                  kendoButton
                  type="button"
                  look="clear"
                  [svgIcon]="eyeIcon"
                  (click)="togglePasswordVisibility(confirmPasswordTextBox)"
                ></button>
              </ng-template>
            </kendo-textbox>

            @if (form.controls['confirmPassword']; as confirmPasswordControl) {
              @if (!confirmPasswordControl.untouched) {
                @if (confirmPasswordControl.errors?.['required']) {
                  <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
                }

                @if (form.errors?.['passwordMismatch']) {
                  <kendo-formerror>{{ 'shared.passwordsDoNotMatch' | transloco }}</kendo-formerror>
                }
              }
            }
          </kendo-label>
        </div>

        <div class="k-display-flex k-justify-content-between">
          <button kendoButton themeColor="secondary" type="button" (click)="onPreviousClick()">
            {{ 'auth.previous' | transloco }}
          </button>

          <button kendoButton themeColor="primary" type="button" (click)="onNextClick()">
            {{ 'auth.next' | transloco }}
          </button>
        </div>
      </div>
    </form>
  </div>
}
