@if (form(); as form) {
    <div class="k-display-flex k-gap-10 k-flex-column">
        <form [formGroup]="form">
            <div class="k-display-flex k-flex-column k-gap-10">
                <div class="k-display-flex k-gap-5">
                    <kendo-label [text]="'auth.password' | transloco">
                        <kendo-textbox [clearButton]="true" formControlName="password" type="password" #passwordTextBox>
                            <ng-template kendoTextBoxSuffixTemplate>
                                <button
                                    kendoButton
                                    type="button"
                                    look="clear"
                                    [svgIcon]="eyeIcon"
                                    (click)="togglePasswordVisibility(passwordTextBox)"
                                ></button>
                            </ng-template>
                        </kendo-textbox>
                    </kendo-label>

                    <kendo-label [text]="'auth.repeat_password' | transloco">
                        <kendo-textbox
                            [clearButton]="true"
                            formControlName="confirmPassword"
                            type="password"
                            #confirmPasswordTextBox
                        >
                            <ng-template kendoTextBoxSuffixTemplate>
                                <button
                                    kendoButton
                                    type="button"
                                    look="clear"
                                    [svgIcon]="eyeIcon"
                                    (click)="togglePasswordVisibility(confirmPasswordTextBox)"
                                ></button>
                            </ng-template>
                        </kendo-textbox>
                    </kendo-label>
                </div>

                <div class="k-display-flex k-justify-content-between">
                    <button kendoButton themeColor="secondary" (click)="onPreviousClick()">
                        {{ 'auth.back' | transloco }}
                    </button>

                    <button kendoButton themeColor="primary" (click)="form.valid && onNextClick()">
                        {{ 'auth.next' | transloco }}
                    </button>
                </div>
            </div>
        </form>
    </div>
}
