<form [formGroup]="filterForm">
  <div class="filters-container">
    <vet-selector
      class="vet-filter-input"
      formControlName="program"
      [placeholder]="'shared.program' | transloco"
      [options]="programsOptions.value()"
    />

    <kendo-textbox
      class="vet-filter-input"
      [placeholder]="'programs.pid' | transloco"
      formControlName="pid"
    />

    <kendo-textbox
      class="vet-filter-input"
      [placeholder]="'programs.fullname' | transloco"
      formControlName="fullname"
    />
  </div>

  <div class="k-display-flex k-justify-content-between k-align-items-center k-pt-5">
    <p>{{ 'shared.numberOfRecords' | transloco: { count: numberOfRecords() } }}</p>

    <div class="k-display-flex k-justify-content-end k-gap-2">
      <button kendoButton type="secondary" [svgIcon]="vetIcons.xIcon" (click)="clearFilters()"></button>

      <button kendoButton themeColor="primary" [svgIcon]="vetIcons.search" (click)="onSubmit()">
        {{ 'shared.search' | transloco }}
      </button>
    </div>
  </div>
</form>
