<form [formGroup]="form">
  <div class="vet-overview-container">
    <div class="vet-profile-container">
      <img
        src="https://png.pngtree.com/png-clipart/20220720/original/pngtree-handsome-boy-for-profile-picture-png-image_8390953.png"
        alt="user"
        class="vet-profile-picture"
      />
      <p class="vet-text-base">
        {{
          selectedAccountName() && selectedAccountName() !== form.get('name')?.value
            ? selectedAccountName() + ' (' + form.get('name')?.value + ')'
            : form.get('name')?.value
        }}
      </p>
    </div>

    <div vet-container>
      <div class="vet-user-info">
        <div class="vet-content-box">
          <p class="vet-text-base">{{ 'profile.actual_address' | transloco }}</p>
          <vet-icon-button 
            [icon]="isAddressExpanded() ? 'arrowUp' : 'arrowDown'" 
            (click)="onAddressExpandClick()"
            version="minimal"
            mode="clear"
            variant="tertiary"
          />
        </div>

        @if (isAddressExpanded()) {
          <div vet-container>
            <div vet-row>
              <vet-selector
                formControlName="region"
                [placeholder]="'profile.region' | transloco"
                [options]="regionsOptions.value()"
              />
  
              <vet-selector
                formControlName="city"
                [placeholder]="'profile.district' | transloco"
                [options]="filteredDistricts()"
              />
            </div>

            <div vet-row>
              <vet-input
                self-grow
                formControlName="address"
                trailingIcon="editIcon"
                [placeholder]="'profile.address' | transloco"
              />

              <div vet-row></div>
            </div>
          </div>
        }
      </div>

      <div class="vet-user-info">
        <div class="vet-content-box">
          <p class="vet-text-base">{{ 'profile.contact_info' | transloco }}</p>
          <vet-icon-button 
            [icon]="isContactInfoExpanded() ? 'arrowUp' : 'arrowDown'" 
            (click)="onContactInfoExpandClick()"
            version="minimal"
            mode="clear"
            variant="tertiary"
          />
        </div>

        @if (isContactInfoExpanded()) {
          <div vet-container>
            <div vet-row>
              <vet-input
                self-grow
                formControlName="email"
                trailingIcon="editIcon"
                [placeholder]="'profile.email' | transloco"
              />
  
              <vet-input
                self-grow
                formControlName="phone"
                trailingIcon="editIcon"
                [placeholder]="'profile.phone' | transloco"
              />
            </div>

            @if (isSmsCodeSent()) {
              <div vet-row content-right>
                <vet-registration-phone-verification
                  formControlName="sms_code"
                  [isPending]="true"
                  (reload)="resendCode()"
                />
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div vet-row content-right>
      <vet-button
       (click)="handleSave()"
      >
        {{ 'profile.save' | transloco }}
      </vet-button>
    </div>
  </div>
</form>
