@use '@vet/shared-styles' as shared;

:host {
  display: block;
}

.vet-shorts-filters {
  > :not(:first-child) {
    margin-top: 1.25rem;
  }
}

.vet-shorts-filters-grid {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex: 1;
  min-width: 0;

  &.end {
    justify-content: flex-end;
  }

  &.dense {
    gap: 0.75rem;
  }
}


.vet-shorts-filters-grid-spacer {
  margin-left: 5rem;
}

.vet-shorts-filters-input {
  width: 100%;
}
