<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div vet-container>
    <div vet-row>
      <div vet-row>
        <div vet-row>
          <vet-input
            formControlName="search"
            trailingIcon="search"
            [placeholder]="'shorts.search' | transloco"
          />
        </div>

        @if (!isExpanded()) {
          <div vet-spacer></div>
          <ng-container *ngTemplateOutlet="buttons"/>
        }
      </div>

      @if (isExpanded()) {
        <div vet-row>
          <vet-input
            formControlName="program_name_or_code"
            [placeholder]="'shorts.program_code_name' | transloco"
          />

          <vet-selector
            formControlName="field"
            [placeholder]="'shorts.field' | transloco"
          />
        </div>
      }
    </div>

    @if (isExpanded()) {
      <div vet-row>
        <div vet-row>
          <vet-selector
            formControlName="region"
            [placeholder]="'shorts.region' | transloco"
            [options]="regionOptions.value()"
          />

          <vet-selector
            formControlName="district"
            [placeholder]="'shorts.district' | transloco"
            [options]="filteredDistricts()"
          />
        </div>

        <vet-selector
          self-grow
          formControlName="organisation_name"
          [placeholder]="'shorts.institution_name' | transloco"
          [options]="institutionOptions.value()"
        />
      </div>

      <div vet-row>
        <vet-selector
          self-grow
          formControlName="program_kind"
          [placeholder]="'shorts.program_kind' | transloco"
          [options]="programKindOptions.value()"
        />

        <div vet-row>
          <vet-switch
            formControlName="current"
            [label]="'shorts.current' | transloco"
          />

          <vet-switch
            formControlName="planned"
            [label]="'shorts.planned' | transloco"
          />
        </div>

        <div vet-row></div>
        <div vet-row content-right>
          <ng-container *ngTemplateOutlet="buttons"/>
        </div>
      </div>
    }
  </div>
</form>

<ng-template #buttons>
  <div vet-line gap-dense content-right>
    @let toggleBtnIcon = isExpanded() ? 'arrowUp' : 'arrowDown';

    <vet-icon-button [icon]="toggleBtnIcon" (click)="onToggleExpansion()" />
    <vet-icon-button icon="tweaker" (click)="onOpenFiltersDialog()" />
    <vet-icon-button icon="close" (click)="onClearClick()" />

    <vet-button leadingIcon="search" type="submit">
      {{ 'shorts.search_filters' | transloco }}
    </vet-button>
  </div>
</ng-template>

@if (isFiltersDialogOpen()) {
  @defer (on immediate) {
    <vet-short-term-programs-filters-dialog
      [filters]="filters()"
      (filtersChange)="onDialogFiltersChange($event)"
      (dialogClose)="onCloseFiltersDialog()"
    />
  }
}
