::ng-deep :root {
  --container-bg: var(--main-bg);
  --container-padding: 0 1.25rem 9.375rem 1.25rem;
  --container-max-width: 92.5rem;

  &.home-page {
    --container-bg: #ffffff;
    --container-padding: 0 0 9.375rem;
    --container-max-width: 100%;
    --container-divider-color: var(--border-none);
  }
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding);
  background: var(--container-bg);
  max-width: var(--container-max-width);
  border-bottom: 0.0625rem solid var(--container-divider-color, transparent);
}

.router-container {
  height: 100%;
}
