:host {
  display: block;

  .exam-requirements-list {
    margin: 16px 0;
    padding-left: 0;

    li {
      display: flex;
      align-items: flex-start;
      padding: 8px 12px 8px 32px;
      position: relative;
      line-height: 1.5;
      font-size: 14px;
      &::before {
        content: "•";
        position: absolute;
        left: 12px;
        top: 8px;
        color: black;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
