<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="k-display-flex k-flex-column k-gap-6 k-px-14 k-py-8 k-bg-white"
>
  <kendo-label [text]="'auth.id_or_passport_number' | transloco">
    <kendo-textbox [clearButton]="true" formControlName="pid" />
    @if (loginForm.controls['pid']; as control) {
      @if (!control.untouched || control.value) {
        @if (control.errors?.['required']) {
          <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
        }
      }
    }
  </kendo-label>

  <div class="k-display-flex k-flex-column k-gap-3">
    <kendo-label [text]="'auth.password' | transloco">
      <kendo-textbox formControlName="password" type="password">
        <ng-template kendoTextBoxSuffixTemplate class="k-bg-primary">
          <a class="k-cursor-pointer k-text-sm k-color-primary k-mr-4" [routerLink]="['/password/forgot']">{{
            'auth.forgot_password' | transloco
          }}</a>
        </ng-template>
      </kendo-textbox>
      @if (loginForm.controls['password']; as control) {
        @if (!control.untouched || control.value) {
          @if (control.errors?.['required']) {
            <kendo-formerror>{{ 'shared.fieldIsRequired' | transloco }}</kendo-formerror>
          }
        }
      }
    </kendo-label>

    <div class="k-display-flex k-align-items-center k-gap-3">
      <kendo-checkbox #remember formControlName="remember" />
      <kendo-label class="k-text-sm" [for]="remember" [text]="'auth.remember' | transloco" />
    </div>
  </div>

  <div class="k-display-flex k-flex-column k-align-items-center k-mt-4 k-gap-3">
    <div class="k-w-full k-px-16">
      <button
        kendoButton
        type="submit"
        themeColor="primary"
        class="k-w-full"
        look="default"
        [disabled]="isLoginLoading()"
      >
        @if (isLoginLoading()) {
          <kendo-loader size="small" />
        }
        {{ 'auth.login' | transloco }}
      </button>
    </div>

    <a
      class="k-cursor-pointer k-text-base k-text-underline k-color-primary"
      [routerLink]="['/registration']"
      [class.k-disabled]="isLoginLoading()"
      >{{ 'auth.registration' | transloco }}</a
    >
  </div>
</form>
