@if (identityForm(); as form) {
  <form vet-container gap-s [formGroup]="form">
    <div vet-row>
      <vet-input
        self-grow
        version="fat"
        formControlName="personalNumber"
        [topLabelFromThe90s]="'auth.id_number' | transloco"
      />

      <vet-input
        self-grow
        version="fat"
        formControlName="lastName"
        [topLabelFromThe90s]="'auth.last_name' | transloco"
      />
    </div>

    @if (isPersonVerified()) {
      <div vet-row>
        <vet-input
          self-grow
          version="fat"
          [readonly]="true"
          formControlName="firstName"
          [topLabelFromThe90s]="'auth.name' | transloco"
        />

        <vet-date-picker
          self-grow
          formControlName="dateOfBirth"
          [label]="'auth.date_of_birth' | transloco"
          version="fat"
          [disabled]="true"
        />
      </div>
    }
  </form>
}
